<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
      <app-side-bar></app-side-bar>
     <!-- Menu End -->
     <div class="layout-page">
       <!-- Navbar -->
       <app-nav-bar></app-nav-bar>
       <!-- Navbar End-->
         <div class="content-wrapper">
           <!-- Dash page comes here-->
           <!-- Content -->
           <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Support</span></h4>

            <div class="row">
              <div class="col-lg-6 mb-4 order-0">
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Create Support Ticket </h5>
                      <small class="text-muted float-end">You can always contact Coin Bank for enquiry or for any technical issues <span class="text-danger">24/7.</span></small>
                    </div>
                    <div class="card-body">
                      <form [formGroup]="ticketForm">
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Customer Bank Name</label>
                          <select class="form-control form-select" name="subject" id="subject" formControlName="subject">
                            <option value=""></option>
                            <option value="Funds Transfer Issues"> Funds Transfer Issues</option>
                            <option value="Loan Application">Loan Application</option>
                            <option value="Account Not Active">Account Not Active</option>
                            <option value="Account Statement"> Account Statement</option>
                            <option value="Account Opening Form"> Account Opening Form</option>
                            <option value="Payment">Payment</option>
                            <option value="Loan Re-payment">Loan Re-payment</option>
                            <option value="Fees Charges">Fees Charges</option>
                            <option value="Others">Others</option>
                        </select>
                        <div *ngIf="ticketForm.controls['subject'].invalid && (ticketForm.controls['subject'].dirty || ticketForm.controls['subject'].touched || ticketForm.controls['subject'].untouched && isFormSubmit )" class="text-danger">
                          <span *ngIf="ticketForm.controls['subject'].hasError('required')" class="text-danger"> * Required</span>

                        </div>
                        </div>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-company">Sender Name</label>
                              <input type="text" class="form-control" id="sender_name" name="sender_name" formControlName="sender_name" placeholder="Sender Name">
                              <div *ngIf="ticketForm.controls['sender_name'].invalid && (ticketForm.controls['sender_name'].dirty || ticketForm.controls['sender_name'].touched || ticketForm.controls['sender_name'].untouched && isFormSubmit )" class="text-danger">
                                <span *ngIf="ticketForm.controls['sender_name'].hasError('required')" class="text-danger"> * Required</span>
                                <span *ngIf="ticketForm.get('sender_name')!.hasError('maxlength')" class="text-danger">
                                  The maximum length is 100 characters.
                                </span>
                              </div>
                            </div>
                            </div>

                            <div class="mb-3 col-md-6">
                              <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Email ID</label>
                                <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Email ID">
                                <div *ngIf="ticketForm.controls['email'].invalid && (ticketForm.controls['email'].dirty || ticketForm.controls['email'].touched || ticketForm.controls['email'].untouched && isFormSubmit )" class="text-danger">
                                  <span *ngIf="ticketForm.controls['email'].hasError('required')" class="text-danger"> * Required</span>
                                  <span *ngIf="ticketForm.get('email')!.hasError('email')" class="text-danger">
                                   Correct email format required.
                                  </span>
                                </div>
                              </div>
                              </div>
                         </div>

                          <div class="mb-3">
                            <label for="address" class="form-label">Message</label>
                            <textarea class='form-control' name="ticket_message" id='ticket_message' formControlName='ticket_message' placeholder='Enter Message' rows='3' required></textarea>
                            <div *ngIf="ticketForm.controls['ticket_message'].invalid && (ticketForm.controls['ticket_message'].dirty || ticketForm.controls['ticket_message'].touched || ticketForm.controls['ticket_message'].untouched && isFormSubmit )" class="text-danger">
                              <span *ngIf="ticketForm.controls['ticket_message'].hasError('required')" class="text-danger"> * Required</span>
                              <span *ngIf="ticketForm.get('ticket_message')!.hasError('maxlength')" class="text-danger">
                                The maximum length is 250 characters.
                              </span>
                            </div>
                          </div>
                        <button type="submit" class="btn btn-primary" (click)="sendTicket()"
                        [disabled]="ticketForm.invalid" [disabled]="isFormSubmit">
                         <!-- <div class="spinner-border spinner-border-sm text-primary" role="status" *ngIf="isButtonClick">
                          <span class="visually-hidden">Loading...</span>
                        </div> -->
                        &nbsp;
                         Send Ticket
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-4 order-1">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-6 mb-4">
                  </div>
                  <div class="col-lg-6 col-md-9 col-6 mb-4">
                    <div class="card bg-warning text-white mb-3">
                      <div class="card-body">
                        <div class="card-body">
                          <h5 class="card-title text-dark">Notice</h5>
                          <p class="card-text">
                           Our support center is open to every one 24 hours a day! Feel free to contact us.
                          </p>
                          <!-- <a href="javascript:;" class="btn btn-sm btn-outline-success">Apply Now</a> -->
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <br/><br/>
              <!-- Total Revenue -->
              </div>
            </div>
            <!-- Total Revenue -->

           </div>
           <!-- Content wrapper -->
         </div>
         <div class="layout-overlay layout-menu-toggle"></div>
     </div>

   </div>


