<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
      © {{yearName}}<script>
      </script>
      , Angro Finance and Savings | by <a href="https://veeapps.co.in/en/" target="_blank" class="footer-link fw-bolder"> Veeapps </a>
    </div>
    <div>

      <a href="/dashboard/index" class="footer-link me-4" target="_blank">Credit Card</a>
      <a href="/dashboard/index" class="footer-link me-4">Loans</a>

      <a href="/dashboard/index" class="footer-link me-4">Full Statement</a>

      <a href="/dashboard/support" target="_blank" class="footer-link me-4">Support</a>


    </div>
  </div>
  </footer>
