<!-- Navbar -->

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center {{bgColor}}" id="layout-navbar">

  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0   d-xl-none ">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>
  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
  <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <span class="app-brand-text companyName menu-text fw-bolder ms-2">{{companyAllName | uppercase}} </span>
      </div>
    </div>
    <!-- /Search -->
    <ul class="navbar-nav flex-row align-items-center ms-auto">

      <!-- Show boxes more menu here-->

        <div *ngIf="_authLevel.myAccessLevel()=='Admin'">
          <app-nav-drop-menu>

          </app-nav-drop-menu>
        </div>

      <!-- Place this tag where you want the button to render. -->
      <!-- Show bell notification here -->
      <app-nav-notification *ngIf="_authLevel.myAccessLevel()!='Admin'">

      </app-nav-notification>

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <!-- <div class="avatar avatar-online">
            <img src="../../../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
          </div> -->
          <div *ngIf="userDatas?.image_photo=='' || userDatas?.image_photo== null; else myProfileImage" class="avatar avatar-online">
            <img [src]="defaultImageProfile" width="40" class="w-px-40 h-auto rounded-circle">
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <!-- <div class="avatar avatar-online">
                    <img src="../../../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                  </div> -->
                  <div *ngIf="userDatas?.image_photo=='' || userDatas?.image_photo== null; else myProfileImage" class="avatar avatar-online">
                    <img [src]="defaultImageProfile" width="40" class="w-px-40 h-auto rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-semibold d-block">{{top_bar_fullname || 'No Name'}}</span>
                  <small class="text-muted">Account Holder</small>
                </div>
              </div>
              <ng-template #myProfileImage>
                <div class="avatar avatar-online">
                  <img [src]="userProfilePic" width="40" class="w-px-40 h-auto rounded-circle">
                </div>

              </ng-template>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="/dashboard/profile">
              <i class="bx bx-user me-2"></i>
              <span class="align-middle">My Profile</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/dashboard/user-setting">
              <i class="bx bx-cog me-2"></i>
              <span class="align-middle">Settings</span>
            </a>
          </li>

          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" (click)="openNavLogoutPopup()" style="cursor: pointer;">
              <i class="bx bx-power-off me-2"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>

</nav>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="backDropModalTitle">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeNavLogoutPopup()"></button>
      </div>
      <div class="modal-body">
        <h4> Are you sure you want to logout?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeNavLogoutPopup()">Cancel</button>
        <button type="button" (click)="logoutOut()" class="btn btn-danger" [disabled]="isFormSubmit">
          <div class="spinner-border spinner-border-sm text-white" role="status" *ngIf="isFormSubmit">
            <span class="visually-hidden">Loading...</span>
          </div>
          &nbsp;
          <!-- <span *ngIf="!isFormSubmit">
            Submit
          </span>
          <span *ngIf="isFormSubmit">
            Logging out...
          </span> -->
          {{ isFormSubmit === false ? "Logout" : "Logging out" }}
        </button>
      </div>
     </form>
  </div>
</div>

<!-- / Navbar -->
