<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo ">
    <a href="/dashboard" class="app-brand-link">
      <span class="app-brand-logo demo">
        <!-- logo will come here later-->
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <div *ngIf="_authLevel.myAccessLevel()=='User'">
    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="/dashboard" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <!-- Layouts -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="fa fa-share-square fs-5"></i>
          <div data-i18n="Layouts">&nbsp; Transfer</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href ="/dashboard/wire-transfer" class="menu-link">
              <div data-i18n="Without menu">Wire Transfer</div>
            </a>
          </li>
          <li class="menu-item">
            <a href ="/dashboard/domestic-transfer" class="menu-link">
              <div data-i18n="Without navbar">Domestic Transfer</div>
            </a>
          </li>

          <li class="menu-item">
            <a href="#" data-bs-toggle="modal" data-bs-target="#interBankDropModal" class="menu-link" (click)="openInterBankModal('interBankDropModal')">
              <div data-i18n="Without navbar">Inter Bank Transfer</div>
            </a>
          </li>

        </ul>
      </li>

      <li class="menu-item">
        <a href="/dashboard/account-statement" class="menu-link">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Basic">Account Statement</div>
        </a>
      </li>

      <li class="menu-item">
        <a href="/dashboard/account-history" class="menu-link">
          <i class='bx bx-history fs-3'></i>
          <div data-i18n="Basic">Transaction History</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Account</span>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="fa fa-address-book fs-5"></i>
          <div data-i18n="Account Settings"> &nbsp; &nbsp; Account Details</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/dashboard/profile" class="menu-link">
              <div data-i18n="Account">Profile Detail</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/dashboard/officer-profile" class="menu-link">
              <div data-i18n="Notifications">Account Officer</div>
            </a>
          </li>

        </ul>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Products</span>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="fa fa-dot-circle fs-5"></i>
          <div data-i18n="Account Settings"> &nbsp; &nbsp; Investment</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/dashboard/agro-invest" class="menu-link">
              <div data-i18n="Account">Angro Products Investment</div>
            </a>
          </li>

          <li class="menu-item">
            <a href="/dashboard/stock-invest" class="menu-link">
              <div data-i18n="Notifications">Stock Trade Investment</div>
            </a>
          </li>

          <li class="menu-item">
            <a href="/dashboard/fx-invest" class="menu-link">
              <div data-i18n="Notifications">FX Investment</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <a href="/dashboard/support" class="menu-link">
          <i class="menu-icon tf-icons bx bx-support"></i>
          <div data-i18n="Basic">Support</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase"><span class="menu-header-text">Action</span></li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="fa fa-power-off "></i>
          <div data-i18n="Authentications" >&nbsp; &nbsp; Authentications</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <!-- <button (click)="openModal('smallModal')" class="btn btn-primary btn-xs" type="button">Add
              Student</button> -->

            <a (click)="openLogoutPopup()" class="menu-link" style="cursor: pointer;">
              <div data-i18n="Basic">Logout</div>
            </a>
          </li>

        </ul>
      </li>

      <br><br>
      <li class="menu-item">
        <div class="col-md-12 col-xl-12">
          <div class="card bg-dark border-0 text-white">
            <img class="card-img" src="../assets/img/elements/11.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h4 class="card-title text-white"> Loan Alert!</h4>
              <br>
              <p class="card-text">
                You can now apply for a business loan upto <strong>$50,000</strong>
              </p>
              <br/><br/>
              <a href="#" data-bs-toggle="modal" data-bs-target="#loanDropModal2" class="btn btn-sm btn-secondary" (click)="openLoanModal('loanDropModal2')">More Details</a>
            </div>

          </div>
        </div>
        </li>
      <li>
      </li>
    </ul>
  </div>

  <app-admin-side-bar *ngIf="_authLevel.myAccessLevel() =='Admin'"></app-admin-side-bar>

</aside>
<!--Inter banking modal popup here-->
<div class="col-lg-4 col-md-3">
  <div class="mt-3">
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="interBankDropModal" data-bs-backdrop="static" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content">
          <div class="modal-header bg-info">
            <h5 class="modal-title text-white" id="backDropModalTitle">Notice</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <p> Please, contact your account officer for more details on inter banking transfer service</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Okay</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- about loan modal popup here-->
<div class="col-lg-4 col-md-3">
  <div class="mt-3">
    <div class="modal fade" id="loanDropModal2" data-bs-backdrop="static" tabindex="-1">
      <div class="modal-dialog">
        <form class="modal-content">
          <div class="modal-header bg-info">
            <h5 class="modal-title text-white" id="backDropModalTitle">Quick Loan</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p> We make it easier for our customer to quickly get any kind of loan on the go.</p>

            <h3>What loan do you need?</h3>
              <p>Contact your account officer now for more details.</p>
          </div>
          <div class="modal-footer">
            <a href="/dashboard/support"><button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Get a loan</button></a>

          </div>
         </form>
      </div>
    </div>
  </div>
</div>
<!-- / Menu -->


<!--Modal for logout here-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="backDropModalTitle">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeLogoutPopup()"></button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to logout?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="closeLogoutPopup()">Cancel</button>
        <button type="button" (click)="logoutMeOut()" class="btn btn-danger" [disabled]="isFormSubmit">
          <div class="spinner-border spinner-border-sm text-white" role="status" *ngIf="isFormSubmit">
            <span class="visually-hidden">Loading...</span>
          </div>
          &nbsp;
          <!-- <span *ngIf="!isFormSubmit">
            Submit
          </span>
          <span *ngIf="isFormSubmit">
            Logging out...
          </span> -->
          {{ isFormSubmit === false ? "Logout" : "Logging out..." }}
        </button>
      </div>
     </form>
  </div>
</div>
<!-- <div class="col-lg-4 col-md-3">
  <div class="mt-3">
    <div class="modal fade show" id="smallModal" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title text-white">Logout</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <p>Are you sure you want to logout?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="logoutMeOut()" class="btn btn-primary" [disabled]="isFormSubmit">
                <div class="spinner-border spinner-border-sm text-primary" role="status" *ngIf="isFormSubmit">
                  <span class="visually-hidden">Loading...</span>
                </div>
                &nbsp;
                Submit
              </button>
          </div>
        </div>
      </div>
    </div>
    </div>
</div> -->

