<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo ">
    <a href="/" class="app-brand-link">
      <span class="app-brand-logo demo">
        <!-- logo will come here later-->
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <a href="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <!-- Layouts -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="fa fa-share-square fs-5"></i>
        <div data-i18n="Layouts">&nbsp; Transfer</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="layouts-without-menu.html" class="menu-link">
            <div data-i18n="Without menu">Wire Transfer</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="layouts-without-navbar.html" class="menu-link">
            <div data-i18n="Without navbar">Domestic Transfer</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="layouts-without-navbar.html" class="menu-link">
            <div data-i18n="Without navbar">Inter Bank Transfer</div>
          </a>
        </li>

      </ul>
    </li>

    <li class="menu-item">
      <a href="cards-basic.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div data-i18n="Basic">Account Statement</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="cards-basic.html" class="menu-link">
        <i class='bx bx-history fs-3'></i>
        <div data-i18n="Basic">Transaction History</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Account</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="fa fa-address-book fs-5"></i>
        <div data-i18n="Account Settings"> &nbsp; &nbsp; Account Details</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="pages-account-settings-account.html" class="menu-link">
            <div data-i18n="Account">Profile Detail</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="pages-account-settings-notifications.html" class="menu-link">
            <div data-i18n="Notifications">Account Officer</div>
          </a>
        </li>

      </ul>
    </li>

    <li class="menu-item">
      <a href="cards-basic.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-support"></i>
        <div data-i18n="Basic">Support</div>
      </a>
    </li>


    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Products</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="fa fa-dot-circle fs-5"></i>
        <div data-i18n="Account Settings"> &nbsp; &nbsp; Investment</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="pages-account-settings-account.html" class="menu-link">
            <div data-i18n="Account">Angro Products Investment</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="pages-account-settings-notifications.html" class="menu-link">
            <div data-i18n="Notifications">SMEs Investment</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="pages-account-settings-notifications.html" class="menu-link">
            <div data-i18n="Notifications">Stock Trade Investment</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="pages-account-settings-notifications.html" class="menu-link">
            <div data-i18n="Notifications">FX Investment</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Action</span></li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="fa fa-power-off "></i>
        <div data-i18n="Authentications" >&nbsp; &nbsp; Authentications</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="auth-login-basic.html" class="menu-link" target="_blank">
            <div data-i18n="Basic">Logout</div>
          </a>
        </li>

      </ul>
    </li>

    <br><br>
    <li class="menu-item">
      <div class="col-md-12 col-xl-12">
        <div class="card bg-dark border-0 text-white">
          <img class="card-img" src="../assets/img/elements/11.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title text-white"> Loan Alert!</h4>
            <br>
            <p class="card-text">
              You can now apply for a business loan upto <strong>$50,000</strong>
            </p>
            <br/><br/>
            <a href="javascript:;" class="btn btn-sm btn-secondary">More Details</a>
          </div>

        </div>
      </div>
      </li>
    <li>

    </li>
  </ul>

</aside>
<!-- / Menu -->
