<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    <app-side-bar></app-side-bar>
    <!-- Menu End -->

    <div class="layout-page">
      <!-- Navbar -->
      <app-nav-bar></app-nav-bar>
      <!-- Navbar End-->

      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Update /</span> Activate Account
          </h4>

          <!-- Users List Table -->
          <div class="col-lg-9">
            <div class="card mb-4">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Manage user account status</h5>
                <small class="text-muted float-end">
                  <div class="avatar-wrapper" *ngIf="updateUserData.data[0].image_photo else defaultImage">

                  <div class="">
                    <img [src]="userProfilePic+updateUserData.data[0].image_photo" alt="Avatar" height="120" width="150" class="d-block rounded"/>
                  </div>
                </div>

                <ng-template #defaultImage>
                  <span class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2"
                  ><i class="bx bx-user bx-xs"></i>
                  </span>
                </ng-template></small>
              </div>

              <div class="card-body">
                <form [formGroup]="updateUserForm" enctype="multipart/form-data">
                 <div class="row">
                    <div class="mb-3 col-md-6">
                      <div class="row mb-3">
                        <label class="form-label" for="surname">Surname</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="surname" name="surname" formControlName="surname" ngModel="{{updateUserData.data[0]?.surname}}" placeholder="Username">
                        </div>
                      </div>
                  </div>
                  <div class="mb-3 col-md-6">
                    <div class="row mb-3">
                      <label class="form-label" for="basic-default-company">Other Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="first_name" name="first_name" formControlName="first_name" ngModel="{{updateUserData.data[0]?.first_name}}" placeholder="Other Name">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3 col-md-6">
                    <div class="row mb-3">
                      <label class="form-label" for="basic-default-name">Gender</label>
                      <div class="col-sm-10">
                        <select id="gender" class="form-select" formControlName="gender" ngModel="{{updateUserData.data[0]?.gender}}">
                          <option ngValue="{{updateUserData.data[0]?.gender}}">{{updateUserData.data[0]?.gender}}</option>
                          <option Maintenance="Female">Female</option>
                          <option Maintenance="Male">Male</option>
                        </select>

                      </div>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                  <div class="row mb-3">
                    <label class="form-label" for="basic-default-company">Date of Birth</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" id="dob" name="dob" formControlName="dob" ngModel="{{updateUserData.data[0]?.dob}}" placeholder="Date of Birth">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-6">
                  <div class="row mb-3">
                    <label class="form-label" for="basic-default-name">Email</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="email" name="email" formControlName="email" ngModel="{{updateUserData.data[0]?.email}}" placeholder="Email">
                    </div>
                  </div>
              </div>
              <div class="mb-3 col-md-6">
                <div class="row mb-3">
                  <label class="form-label" for="phone">Phone Number</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" ngModel="{{updateUserData.data[0]?.phone}}" placeholder="Phone Number">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="mb-3 col-md-6">
                <div class="row mb-3">
                  <label class="form-label" for="state">State</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="state" name="state" formControlName="state" ngModel="{{updateUserData.data[0]?.state}}" placeholder="State">
                  </div>
                </div>
            </div>
            <div class="mb-3 col-md-6">
              <div class="row mb-3">
                <label class="form-label" for="city">City</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="city" name="city" formControlName="city" ngModel="{{updateUserData.data[0]?.city}}" placeholder="City">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <div class="row mb-3">
                <label class="form-label" for="country">Country</label>
                <div class="col-sm-10">
               <select
                  id="country"
                  class="select2 form-select select2-hidden-accessible"
                  name="country" formControlName="country" ngModel="{{updateUserData.data[0]?.country}}">
                <option ngValue="{{updateUserData.data[0]?.country}}">{{updateUserData.data[0]?.country}}</option>
                <option Maintenance="Afghanistan" title="Afghanistan">Afghanistan</option>
                <option Maintenance="Åland Islands" title="Åland Islands">Åland Islands</option>
                <option Maintenance="Albania" title="Albania">Albania</option>
                <option Maintenance="Algeria" title="Algeria">Algeria</option>
                <option Maintenance="American Samoa" title="American Samoa">American Samoa</option>
                <option Maintenance="Andorra" title="Andorra">Andorra</option>
                <option Maintenance="Angola" title="Angola">Angola</option>
                <option Maintenance="Anguilla" title="Anguilla">Anguilla</option>
                <option Maintenance="Antarctica" title="Antarctica">Antarctica</option>
                <option Maintenance="Antigua and Barbuda" title="Antigua and Barbuda">Antigua and Barbuda</option>
                <option Maintenance="Argentina" title="Argentina">Argentina</option>
                <option Maintenance="Armenia" title="Armenia">Armenia</option>
                <option Maintenance="Aruba" title="Aruba">Aruba</option>
                <option Maintenance="Australia" title="Australia">Australia</option>
                <option Maintenance="Austria" title="Austria">Austria</option>
                <option Maintenance="Azerbaijan" title="Azerbaijan">Azerbaijan</option>
                <option Maintenance="Bahamas" title="Bahamas">Bahamas</option>
                <option Maintenance="Bahrain" title="Bahrain">Bahrain</option>
                <option Maintenance="Bangladesh" title="Bangladesh">Bangladesh</option>
                <option Maintenance="Barbados" title="Barbados">Barbados</option>
                <option Maintenance="Belarus" title="Belarus">Belarus</option>
                <option Maintenance="Belgium" title="Belgium">Belgium</option>
                <option Maintenance="Belize" title="Belize">Belize</option>
                <option Maintenance="Benin" title="Benin">Benin</option>
                <option Maintenance="Bermuda" title="Bermuda">Bermuda</option>
                <option Maintenance="Bhutan" title="Bhutan">Bhutan</option>
                <option Maintenance="Bolivia, Plurinational State of" title="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
                <option Maintenance="Bonaire, Sint Eustatius and Saba" title="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                <option Maintenance="Bosnia and Herzegovina" title="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                <option Maintenance="Botswana" title="Botswana">Botswana</option>
                <option Maintenance="Bouvet Island" title="Bouvet Island">Bouvet Island</option>
                <option Maintenance="Brazil" title="Brazil">Brazil</option>
                <option Maintenance="British Indian Ocean Territory" title="British Indian Ocean Territory">British Indian Ocean Territory</option>
                <option Maintenance="Brunei Darussalam" title="Brunei Darussalam">Brunei Darussalam</option>
                <option Maintenance="Bulgaria" title="Bulgaria">Bulgaria</option>
                <option Maintenance="Burkina Faso" title="Burkina Faso">Burkina Faso</option>
                <option Maintenance="Burundi" title="Burundi">Burundi</option>
                <option Maintenance="Cambodia" title="Cambodia">Cambodia</option>
                <option Maintenance="Cameroon" title="Cameroon">Cameroon</option>
                <option Maintenance="Canada" title="Canada">Canada</option>
                <option Maintenance="Cape Verde" title="Cape Verde">Cape Verde</option>
                <option Maintenance="Cayman Islands" title="Cayman Islands">Cayman Islands</option>
                <option Maintenance="Central African Republic" title="Central African Republic">Central African Republic</option>
                <option Maintenance="Chad" title="Chad">Chad</option>
                <option Maintenance="Chile" title="Chile">Chile</option>
                <option Maintenance="China" title="China">China</option>
                <option Maintenance="Christmas Island" title="Christmas Island">Christmas Island</option>
                <option Maintenance="Cocos (Keeling) Islands" title="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                <option Maintenance="Colombia" title="Colombia">Colombia</option>
                <option Maintenance="Comoros" title="Comoros">Comoros</option>
                <option Maintenance="Congo" title="Congo">Congo</option>
                <option Maintenance="Congo, the Democratic Republic of the" title="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
                <option Maintenance="Cook Islands" title="Cook Islands">Cook Islands</option>
                <option Maintenance="Costa Rica" title="Costa Rica">Costa Rica</option>
                <option Maintenance="Côte d'Ivoire" title="Côte d'Ivoire">Côte d'Ivoire</option>
                <option Maintenance="Croatia" title="Croatia">Croatia</option>
                <option Maintenance="Cuba" title="Cuba">Cuba</option>
                <option Maintenance="Curaçao" title="Curaçao">Curaçao</option>
                <option Maintenance="Cyprus" title="Cyprus">Cyprus</option>
                <option Maintenance="Czech Republic" title="Czech Republic">Czech Republic</option>
                <option Maintenance="Denmark" title="Denmark">Denmark</option>
                <option Maintenance="Djibouti" title="Djibouti">Djibouti</option>
                <option Maintenance="Dominica" title="Dominica">Dominica</option>
                <option Maintenance="Dominican Republic" title="Dominican Republic">Dominican Republic</option>
                <option Maintenance="Ecuador" title="Ecuador">Ecuador</option>
                <option Maintenance="Egypt" title="Egypt">Egypt</option>
                <option Maintenance="El Salvador" title="El Salvador">El Salvador</option>
                <option Maintenance="Equatorial Guinea" title="Equatorial Guinea">Equatorial Guinea</option>
                <option Maintenance="Eritrea" title="Eritrea">Eritrea</option>
                <option Maintenance="Estonia" title="Estonia">Estonia</option>
                <option Maintenance="Ethiopia" title="Ethiopia">Ethiopia</option>
                <option Maintenance="Falkland Islands (Malvinas)" title="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                <option Maintenance="Faroe Islands" title="Faroe Islands">Faroe Islands</option>
                <option Maintenance="Fiji" title="Fiji">Fiji</option>
                <option Maintenance="Finland" title="Finland">Finland</option>
                <option Maintenance="France" title="France">France</option>
                <option Maintenance="French Guiana" title="French Guiana">French Guiana</option>
                <option Maintenance="French Polynesia" title="French Polynesia">French Polynesia</option>
                <option Maintenance="French Southern Territories" title="French Southern Territories">French Southern Territories</option>
                <option Maintenance="Gabon" title="Gabon">Gabon</option>
                <option Maintenance="Gambia" title="Gambia">Gambia</option>
                <option Maintenance="Georgia" title="Georgia">Georgia</option>
                <option Maintenance="Germany" title="Germany">Germany</option>
                <option Maintenance="Ghana" title="Ghana">Ghana</option>
                <option Maintenance="Gibraltar" title="Gibraltar">Gibraltar</option>
                <option Maintenance="Greece" title="Greece">Greece</option>
                <option Maintenance="Greenland" title="Greenland">Greenland</option>
                <option Maintenance="Grenada" title="Grenada">Grenada</option>
                <option Maintenance="Guadeloupe" title="Guadeloupe">Guadeloupe</option>
                <option Maintenance="Guam" title="Guam">Guam</option>
                <option Maintenance="Guatemala" title="Guatemala">Guatemala</option>
                <option Maintenance="Guernsey" title="Guernsey">Guernsey</option>
                <option Maintenance="Guinea" title="Guinea">Guinea</option>
                <option Maintenance="Guinea-Bissau" title="Guinea-Bissau">Guinea-Bissau</option>
                <option Maintenance="Guyana" title="Guyana">Guyana</option>
                <option Maintenance="Haiti" title="Haiti">Haiti</option>
                <option Maintenance="Heard Island and McDonald Islands" title="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                <option Maintenance="Holy See (Vatican City State)" title="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                <option Maintenance="Honduras" title="Honduras">Honduras</option>
                <option Maintenance="Hong Kong" title="Hong Kong">Hong Kong</option>
                <option Maintenance="Hungary" title="Hungary">Hungary</option>
                <option Maintenance="Iceland" title="Iceland">Iceland</option>
                <option Maintenance="India" title="India">India</option>
                <option Maintenance="Indonesia" title="Indonesia">Indonesia</option>
                <option Maintenance="Iran, Islamic Republic of" title="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                <option Maintenance="Iraq" title="Iraq">Iraq</option>
                <option Maintenance="Ireland" title="Ireland">Ireland</option>
                <option Maintenance="Isle of Man" title="Isle of Man">Isle of Man</option>
                <option Maintenance="Israel" title="Israel">Israel</option>
                <option Maintenance="Italy" title="Italy">Italy</option>
                <option Maintenance="Jamaica" title="Jamaica">Jamaica</option>
                <option Maintenance="Japan" title="Japan">Japan</option>
                <option Maintenance="Jersey" title="Jersey">Jersey</option>
                <option Maintenance="Jordan" title="Jordan">Jordan</option>
                <option Maintenance="Kazakhstan" title="Kazakhstan">Kazakhstan</option>
                <option Maintenance="Kenya" title="Kenya">Kenya</option>
                <option Maintenance="Kiribati" title="Kiribati">Kiribati</option>
                <option Maintenance="Korea, Democratic People's Republic of" title="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                <option Maintenance="Korea, Republic of" title="Korea, Republic of">Korea, Republic of</option>
                <option Maintenance="Kuwait" title="Kuwait">Kuwait</option>
                <option Maintenance="Kyrgyzstan" title="Kyrgyzstan">Kyrgyzstan</option>
                <option Maintenance="Lao People's Democratic Republic" title="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                <option Maintenance="Latvia" title="Latvia">Latvia</option>
                <option Maintenance="Lebanon" title="Lebanon">Lebanon</option>
                <option Maintenance="Lesotho" title="Lesotho">Lesotho</option>
                <option Maintenance="Liberia" title="Liberia">Liberia</option>
                <option Maintenance="Libya" title="Libya">Libya</option>
                <option Maintenance="Liechtenstein" title="Liechtenstein">Liechtenstein</option>
                <option Maintenance="Lithuania" title="Lithuania">Lithuania</option>
                <option Maintenance="Luxembourg" title="Luxembourg">Luxembourg</option>
                <option Maintenance="Macao" title="Macao">Macao</option>
                <option Maintenance="Macedonia, the former Yugoslav Republic of" title="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
                <option Maintenance="Madagascar" title="Madagascar">Madagascar</option>
                <option Maintenance="Malawi" title="Malawi">Malawi</option>
                <option Maintenance="Malaysia" title="Malaysia">Malaysia</option>
                <option Maintenance="Maldives" title="Maldives">Maldives</option>
                <option Maintenance="Mali" title="Mali">Mali</option>
                <option Maintenance="Malta" title="Malta">Malta</option>
                <option Maintenance="Marshall Islands" title="Marshall Islands">Marshall Islands</option>
                <option Maintenance="Martinique" title="Martinique">Martinique</option>
                <option Maintenance="Mauritania" title="Mauritania">Mauritania</option>
                <option Maintenance="Mauritius" title="Mauritius">Mauritius</option>
                <option Maintenance="Mayotte" title="Mayotte">Mayotte</option>
                <option Maintenance="Mexico" title="Mexico">Mexico</option>
                <option Maintenance="Micronesia, Federated States of" title="Micronesia, Federated States of">Micronesia, Federated States of</option>
                <option Maintenance="Moldova, Republic of" title="Moldova, Republic of">Moldova, Republic of</option>
                <option Maintenance="Monaco" title="Monaco">Monaco</option>
                <option Maintenance="Mongolia" title="Mongolia">Mongolia</option>
                <option Maintenance="Montenegro" title="Montenegro">Montenegro</option>
                <option Maintenance="Montserrat" title="Montserrat">Montserrat</option>
                <option Maintenance="Morocco" title="Morocco">Morocco</option>
                <option Maintenance="Mozambique" title="Mozambique">Mozambique</option>
                <option Maintenance="Myanmar" title="Myanmar">Myanmar</option>
                <option Maintenance="Namibia" title="Namibia">Namibia</option>
                <option Maintenance="Nauru" title="Nauru">Nauru</option>
                <option Maintenance="Nepal" title="Nepal">Nepal</option>
                <option Maintenance="Netherlands" title="Netherlands">Netherlands</option>
                <option Maintenance="New Caledonia" title="New Caledonia">New Caledonia</option>
                <option Maintenance="New Zealand" title="New Zealand">New Zealand</option>
                <option Maintenance="Nicaragua" title="Nicaragua">Nicaragua</option>
                <option Maintenance="Niger" title="Niger">Niger</option>
                <option Maintenance="Nigeria" title="Nigeria">Nigeria</option>
                <option Maintenance="Niue" title="Niue">Niue</option>
                <option Maintenance="Norfolk Island" title="Norfolk Island">Norfolk Island</option>
                <option Maintenance="Northern Mariana Islands" title="Northern Mariana Islands">Northern Mariana Islands</option>
                <option Maintenance="Norway" title="Norway">Norway</option>
                <option Maintenance="Oman" title="Oman">Oman</option>
                <option Maintenance="Pakistan" title="Pakistan">Pakistan</option>
                <option Maintenance="Palau" title="Palau">Palau</option>
                <option Maintenance="Palestinian Territory, Occupied" title="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                <option Maintenance="Panama" title="Panama">Panama</option>
                <option Maintenance="Papua New Guinea" title="Papua New Guinea">Papua New Guinea</option>
                <option Maintenance="Paraguay" title="Paraguay">Paraguay</option>
                <option Maintenance="Peru" title="Peru">Peru</option>
                <option Maintenance="Philippines" title="Philippines">Philippines</option>
                <option Maintenance="Pitcairn" title="Pitcairn">Pitcairn</option>
                <option Maintenance="Poland" title="Poland">Poland</option>
                <option Maintenance="Portugal" title="Portugal">Portugal</option>
                <option Maintenance="Puerto Rico" title="Puerto Rico">Puerto Rico</option>
                <option Maintenance="Qatar" title="Qatar">Qatar</option>
                <option Maintenance="Réunion" title="Réunion">Réunion</option>
                <option Maintenance="Romania" title="Romania">Romania</option>
                <option Maintenance="Russian Federation" title="Russian Federation">Russian Federation</option>
                <option Maintenance="Rwanda" title="Rwanda">Rwanda</option>
                <option Maintenance="Saint Barthélemy" title="Saint Barthélemy">Saint Barthélemy</option>
                <option Maintenance="Saint Helena, Ascension and Tristan da Cunha" title="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
                <option Maintenance="Saint Kitts and Nevis" title="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                <option Maintenance="Saint Lucia" title="Saint Lucia">Saint Lucia</option>
                <option Maintenance="Saint Martin (French part)" title="Saint Martin (French part)">Saint Martin (French part)</option>
                <option Maintenance="Saint Pierre and Miquelon" title="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                <option Maintenance="Saint Vincent and the Grenadines" title="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                <option Maintenance="Samoa" title="Samoa">Samoa</option>
                <option Maintenance="San Marino" title="San Marino">San Marino</option>
                <option Maintenance="Sao Tome and Principe" title="Sao Tome and Principe">Sao Tome and Principe</option>
                <option Maintenance="Saudi Arabia" title="Saudi Arabia">Saudi Arabia</option>
                <option Maintenance="Senegal" title="Senegal">Senegal</option>
                <option Maintenance="Serbia" title="Serbia">Serbia</option>
                <option Maintenance="Seychelles" title="Seychelles">Seychelles</option>
                <option Maintenance="Sierra Leone" title="Sierra Leone">Sierra Leone</option>
                <option Maintenance="Singapore" title="Singapore">Singapore</option>
                <option Maintenance="Sint Maarten (Dutch part)" title="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                <option Maintenance="Slovakia" title="Slovakia">Slovakia</option>
                <option Maintenance="Slovenia" title="Slovenia">Slovenia</option>
                <option Maintenance="Solomon Islands" title="Solomon Islands">Solomon Islands</option>
                <option Maintenance="Somalia" title="Somalia">Somalia</option>
                <option Maintenance="South Africa" title="South Africa">South Africa</option>
                <option Maintenance="South Georgia and the South Sandwich Islands" title="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                <option Maintenance="South Sudan" title="South Sudan">South Sudan</option>
                <option Maintenance="Spain" title="Spain">Spain</option>
                <option Maintenance="Sri Lanka" title="Sri Lanka">Sri Lanka</option>
                <option Maintenance="Sudan" title="Sudan">Sudan</option>
                <option Maintenance="Suriname" title="Suriname">Suriname</option>
                <option Maintenance="Svalbard and Jan Mayen" title="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                <option Maintenance="Swaziland" title="Swaziland">Swaziland</option>
                <option Maintenance="Sweden" title="Sweden">Sweden</option>
                <option Maintenance="Switzerland" title="Switzerland">Switzerland</option>
                <option Maintenance="Syrian Arab Republic" title="Syrian Arab Republic">Syrian Arab Republic</option>
                <option Maintenance="Taiwan, Province of China" title="Taiwan, Province of China">Taiwan, Province of China</option>
                <option Maintenance="Tajikistan" title="Tajikistan">Tajikistan</option>
                <option Maintenance="Tanzania, United Republic of" title="Tanzania, United Republic of">Tanzania, United Republic of</option>
                <option Maintenance="Thailand" title="Thailand">Thailand</option>
                <option Maintenance="Timor-Leste" title="Timor-Leste">Timor-Leste</option>
                <option Maintenance="Togo" title="Togo">Togo</option>
                <option Maintenance="Tokelau" title="Tokelau">Tokelau</option>
                <option Maintenance="Tonga" title="Tonga">Tonga</option>
                <option Maintenance="Trinidad and Tobago" title="Trinidad and Tobago">Trinidad and Tobago</option>
                <option Maintenance="Tunisia" title="Tunisia">Tunisia</option>
                <option Maintenance="Turkey" title="Turkey">Turkey</option>
                <option Maintenance="Turkmenistan" title="Turkmenistan">Turkmenistan</option>
                <option Maintenance="Turks and Caicos Islands" title="Turks and Caicos Islands">Turks and Caicos Islands</option>
                <option Maintenance="Tuvalu" title="Tuvalu">Tuvalu</option>
                <option Maintenance="Uganda" title="Uganda">Uganda</option>
                <option Maintenance="Ukraine" title="Ukraine">Ukraine</option>
                <option Maintenance="United Arab Emirates" title="United Arab Emirates">United Arab Emirates</option>
                <option Maintenance="United Kingdom" title="United Kingdom">United Kingdom</option>
                <option Maintenance="United States" title="United States">United States</option>
                <option Maintenance="United States Minor Outlying Islands" title="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                <option Maintenance="Uruguay" title="Uruguay">Uruguay</option>
                <option Maintenance="Uzbekistan" title="Uzbekistan">Uzbekistan</option>
                <option Maintenance="Vanuatu" title="Vanuatu">Vanuatu</option>
                <option Maintenance="Venezuela, Bolivarian Republic of" title="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
                <option Maintenance="Viet Nam" title="Viet Nam">Viet Nam</option>
                <option Maintenance="Virgin Islands, British" title="Virgin Islands, British">Virgin Islands, British</option>
                <option Maintenance="Virgin Islands, U.S." title="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                <option Maintenance="Wallis and Futuna" title="Wallis and Futuna">Wallis and Futuna</option>
                <option Maintenance="Western Sahara" title="Western Sahara">Western Sahara</option>
                <option Maintenance="Yemen" title="Yemen">Yemen</option>
                <option Maintenance="Zambia" title="Zambia">Zambia</option>
                <option Maintenance="Zimbabwe" title="Zimbabwe">Zimbabwe</option>
                  </select
                >
                </div>
              </div>
          </div>
          <div class="mb-3 col-md-6">
            <div class="row mb-3">
              <label class="form-label" for="acct_type">Account Type</label>
              <div class="col-sm-10">
                <select id="acct_type" name="acct_type" formControlName="acct_type" ngModel="{{updateUserData.data[0]?.acct_type}}" class="form-select">
                  <option ngValue="{{updateUserData.data[0]?.acct_type}}">{{updateUserData.data[0]?.acct_type}}</option>
                  <option Maintenance="Saving Account">Savings Account</option>
                  <option Maintenance="Checking Account">Checking Account</option>
                  <option Maintenance="Fixed Deposit">Fixed Deposit</option>
              </select>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <div class="row mb-3">
              <label class="form-label" for="currency_type">Currency Type</label>
              <div class="col-sm-10">
                <select id="currency_type" name="currency_type" formControlName="currency_type" ngModel="{{updateUserData.data[0]?.currency_type}}" class="form-select">
                  <option ngValue="{{updateUserData.data[0]?.currency_type}}">{{updateUserData.data[0]?.currency_type}}</option>
                  <option Maintenance="€">€</option>
                  <option Maintenance="£">£</option>
                  <option Maintenance="$">$</option>
              </select>
              </div>
            </div>
        </div>
        <div class="mb-3 col-md-6">
          <div class="row mb-3">
            <label class="form-label" for="acct_number">Account Number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="acct_number" name="acct_number" formControlName="acct_number" ngModel="{{updateUserData.data[0]?.acct_number}}" placeholder="Account Number">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <div class="row mb-3">
            <label class="form-label" for="acct_pin">Account Pin</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="acct_pin" name="acct_pin" formControlName="acct_pin" ngModel="{{updateUserData.data[0]?.acct_pin}}" placeholder="Account PIN">
            </div>
          </div>
      </div>
      <div class="mb-3 col-md-6">
        <div class="row mb-3">
          <label class="form-label" for="acct_cot">COT Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="acct_cot" name="acct_cot" formControlName="acct_cot" ngModel="{{updateUserData.data[0]?.acct_cot}}" placeholder="COT Code">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-md-6">
        <div class="row mb-3">
          <label class="form-label" for="acct_imf_code">IMF Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="acct_imf_code" name="acct_imf_code" formControlName="acct_imf_code" ngModel="{{updateUserData.data[0]?.acct_imf_code}}" placeholder="IMF Code">
          </div>
        </div>
    </div>
    <div class="mb-3 col-md-6">
      <div class="row mb-3">
        <label class="form-label" for="acct_tax_code">Tax Code</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="acct_tax_code" name="acct_tax_code" formControlName="acct_tax_code" ngModel="{{updateUserData.data[0]?.acct_tax_code}}" placeholder="Tax Code">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mb-3 col-md-6">
      <div class="row mb-3">
        <label class="form-label" for="username">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" name="username" formControlName="username" ngModel="{{updateUserData.data[0]?.username}}" placeholder="Username">
        </div>
      </div>
  </div>
  <div class="mb-3 col-md-6">
    <div class="row mb-3">
      <label class="form-label" for="password">Password</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="password" name="password" formControlName="password" ngModel="{{updateUserData.data[0]?.password_plain}}" placeholder="Password">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="mb-3 col-md-6">
    <div class="row mb-3">
      <label class="form-label" for="image_photo">Photo</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" id="image_photo" name="image_photo" formControlName="image_photo" placeholder="Photo"
        (change)="onFileSelected($event)">
      </div>
    </div>
</div>
<div class="mb-3 col-md-6">
  <div class="row mb-3">
    <label class="form-label" for="address">Address</label>
    <div class="col-sm-10">
      <textarea id="address" name="address" formControlName="address" class="form-control" placeholder="Address" ngModel="{{updateUserData.data[0]?.address}}"></textarea>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="mb-3 col-md-6">
    <div class="row mb-3">
      <label class="form-label" for="acct_status">Status</label>
      <div class="col-sm-10">
        <select class='form-control form-select' name="acct_status" formControlName="acct_status" ngModel="{{updateUserData.data[0]?.acct_status}}" placeholder="Account Status">
          <option ngValue="{{updateUserData.data[0]?.acct_status}}" >{{updateUserData.data[0]?.acct_status}}</option>
          <option Maintenance="Pending">Pending</option>
          <option Maintenance="Blocked">Blocked</option>
          <option Maintenance="Active">Active</option>
         </select>
      </div>
    </div>
</div>

</div>

                <div class="float-end"><div class="col-4">
                  <button type="submit" class="btn btn-primary float-right" (click)="openConfirmUpdate()">Update</button>
                </div></div><br>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="backDropModalTitle">Caution </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeConfirmUpdate()"></button>
      </div>
      <div class="modal-body">
        <h4> Are you sure you want to update?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeConfirmUpdate()">Cancel</button>
        <button type="button" (click)="updateUserDetails()" class="btn btn-danger" [disabled]="isFormSubmit">
          <div class="spinner-border spinner-border-sm text-white" role="status" *ngIf="isFormSubmit">
            <span class="visually-hidden">Loading...</span>
          </div>
          &nbsp;
          <!-- <span *ngIf="!isFormSubmit">
            Submit
          </span>
          <span *ngIf="isFormSubmit">
            Logging out...
          </span> -->
          {{ isFormSubmit === false ? "Yes" : "Updating..." }}
        </button>
      </div>
     </form>
  </div>
</div>
