<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
      <app-side-bar></app-side-bar>
     <!-- Menu End -->
     <div class="layout-page">
       <!-- Navbar -->
       <app-nav-bar></app-nav-bar>
       <!-- Navbar End-->
         <div class="content-wrapper">
           <!-- Dash page comes here-->
           <!-- Content -->

           <div class="container-xxl flex-grow-1 container-p-y">
             <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Agro Investment </span></h4>

             <div class="col-12">
              <div class="col-md-12 col-xl-12">
                <div class="card bg-secondary text-white mb-3">
                  <div class="card-header"><h4 class="text-white">Agricultural investment.</h4></div>
                  <div class="card-body">
                    <h5 class="card-title text-white">Think smart investment, think Agro Bank</h5>
                    <p class="card-text">
                      We surely believe everyone deserve to live! Investing in our angro investment putting your money behind food and crop production, processing, and distribution with most secured and reliable ROI. <br> As the world needs to feed a growing population, interest in angro investment has grown right along with the world population.
                    </p>
                  </div>
                </div>
              </div>
             </div>

             <div class="card overflow-hidden">
              <!-- Pricing Plans -->
              <div class="pb-sm-5 pb-2 rounded-top">
                <div class="container py-5">
                  <h2 class="text-center mb-2 mt-0 mt-md-4">Find the right investment plan for your need.</h2>
                  <p class="text-center pb-3"> Get started with us - it's perfect for individuals and teams. Choose a plan that meets your investment needs. </p>

                  <div class="row mx-0 gy-3 px-lg-5">
                    <!-- Basic -->
                    <div class="col-lg mb-md-0 mb-4">
                      <div class="card border rounded shadow-none">
                        <div class="card-body">
                          <div class="my-3 pt-2 text-center">
                            <img src="../../assets/img/icons/unicons/bookmark.png" alt="Starter Image" height="80">
                          </div>
                          <h3 class="card-title fw-semibold text-center text-capitalize mb-1">Starter</h3>
                          <p class="text-center">Affordable start investment for everyone</p>
                          <div class="text-center">
                            <div class="d-flex justify-content-center">
                              <!-- <sup class="h6 pricing-currency mt-3 mb-0 me-1 text-primary">$</sup> -->
                              <h3 class="fw-semibold display-4 mb-0 text-primary">1.0</h3>
                              <sub class="h6 pricing-duration mt-auto mb-2 text-muted fw-normal">/percentage return</sub>
                            </div>
                            <!-- <small class="price-yearly price-yearly-toggle text-muted">return</small> -->
                          </div>

                          <ul class="ps-3 my-4 list-unstyled">
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> monthly dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Quarterly dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Annually dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Upgradable any time</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Single investment per customer</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Secure investment</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Suitable for individuals</li>
                          </ul>

                          <a href="#" data-bs-toggle="modal" data-bs-target="#backAgroModal" class="btn btn-label-success d-grid w-100" (click)="openAgroModal('backAgroModal')">Subscribe to Plan</a>
                        </div>
                      </div>
                    </div>

                    <!-- Pro -->
                    <div class="col-lg mb-md-0 mb-4">
                      <div class="card border-primary border shadow-none">
                        <div class="card-body position-relative">
                          <div class="position-absolute end-0 me-4 top-0 mt-4">
                            <span class="badge bg-label-primary">Recommend</span>
                          </div>
                          <div class="my-3 pt-2 text-center">
                            <img src="../../assets/img/icons/unicons/wallet-round.png" alt="Pro Image" height="80">
                          </div>
                          <h3 class="card-title fw-semibold text-center text-capitalize mb-1">Premier</h3>
                          <p class="text-center">Investment of interest with good return</p>
                          <div class="text-center">
                            <div class="d-flex justify-content-center">
                              <!-- <sup class="h6 pricing-currency mt-3 mb-0 me-1 text-primary">$</sup> -->
                              <h3 class="price-toggle price-yearly fw-semibold display-4 text-primary mb-0">1.5</h3>
                              <h1 class="price-toggle price-monthly fw-semibold display-4 text-primary mb-0 d-none">49</h1>
                              <sub class="h6 text-muted pricing-duration mt-auto mb-2 fw-normal">/percentage return</sub>
                            </div>
                            <!-- <small class="price-yearly price-yearly-toggle text-muted">$ 499 / year</small> -->
                          </div>

                          <ul class="ps-3 my-4 list-unstyled">
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> monthly dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Quarterly dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Annually dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Upgradable any time</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Single investment per customer</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Secure investment</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Suitable for high ROI, group and co-operate</li>
                          </ul>

                          <a href="#" data-bs-toggle="modal" data-bs-target="#backAgroModal" class="btn btn-primary d-grid w-100 text-white" (click)="openAgroModal('backAgroModal')">Subscribe to Plan</a>
                        </div>
                      </div>
                    </div>

                    <!-- Enterprise -->
                    <div class="col-lg">
                      <div class="card border rounded shadow-none">
                        <div class="card-body">

                          <div class="my-3 pt-2 text-center">
                            <img src="../../assets/img/icons/unicons/briefcase-round.png" alt="Pro Image" height="80">
                          </div>
                          <h3 class="card-title text-center text-capitalize fw-semibold mb-1">Gold</h3>
                          <p class="text-center">Solution for big organizations and higher investment</p>

                          <div class="text-center">
                            <div class="d-flex justify-content-center">
                              <!-- <sup class="h6 text-primary pricing-currency mt-3 mb-0 me-1">$</sup> -->
                              <h3 class="price-toggle price-yearly fw-semibold display-4 text-primary mb-0">3.0</h3>
                              <!-- <h1 class="price-toggle price-monthly fw-semibold display-4 text-primary mb-0 d-none">99</h1> -->
                              <sub class="h6 pricing-duration mt-auto mb-2 fw-normal text-muted">/percentage return</sub>
                            </div>
                            <!-- <small class="price-yearly price-yearly-toggle text-muted">$ 999 / year</small> -->
                          </div>

                          <ul class="ps-3 my-4 list-unstyled">
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> monthly dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Quarterly dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Annually dividends of investment return</li>
                            <li class="mb-2"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Upgradable any time</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Single investment per customer</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Secure investment</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Suitable for big organizations</li>
                            <li class="mb-0"><span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i class="bx bx-check bx-xs"></i></span> Suitable for higher ROI</li>
                          </ul>

                          <a href="#" data-bs-toggle="modal" data-bs-target="#backAgroModal" (click)="openAgroModal('backAgroModal')" class="btn btn-outline-primary d-grid w-100">Subscribe to Plan </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Pricing Plans -->
              <!-- Pricing Free Trial -->
              <div class="pricing-free-trial">
                <div class="container">
                  <div class="position-relative">
                    <div class="d-flex justify-content-between flex-column-reverse flex-lg-row align-items-center py-4 px-5">
                      <div class="text-center text-lg-start mt-2 ms-3">
                        <h3 class="text-primary mb-1">Don't know which to choose, Or Do you need a higher investment plan?</h3>
                        <p class="text-body mb-1">Kindly contact us or contact your account officer for more details and support.</p>
                        <a href="/dashboard/support" class="btn btn-primary mt-4 mb-2">contact us</a>
                      </div>
                      <!-- image -->
                      <img src="../../assets/img/illustrations/sitting-girl-with-laptop-light.png" class="img-fluid me-lg-5 pe-lg-1 mb-3 mb-lg-0" alt="Api Key Image" width="350" data-app-dark-img="illustrations/sitting-girl-with-laptop-dark.png" data-app-light-img="illustrations/sitting-girl-with-laptop-light.png">
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Pricing Free Trial -->
              <!-- Plans Comparison -->
              <div class="pricing-plans-comparison">
                <div class="container py-5 px-lg-5">
                  <div class="row mt-0 mt-md-4">
                    <div class="col-12 text-center mb-4">
                      <h2 class="mb-2">Compare plans for your choice</h2>
                      <p class="mb-3">Stay cool, we have a 24-hours support!</p>
                    </div>
                  </div>
                  <div class="row mx-4">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table class="table table-striped table-borderless text-center mb-0">
                          <thead>
                            <tr>
                              <th scope="col">
                                <p class="h5 mb-2">Products</p>

                              </th>
                              <th scope="col">
                                <p class="h5 mb-2">Starter</p>

                              </th>
                              <th scope="col" class="pt-3">
                                <p class="h5 mb-2 position-relative">Premier
                                  <span class="badge rounded-pill bg-primary mt-n3 position-absolute">Recommend</span></p>

                              </th>
                              <th scope="col">
                                <p class="h5 mb-2">Gold</p>

                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Poultry Farming</td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Fish Farming</td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary"><i class="bx bx-x bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Animal Farming</td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary"><i class="bx bx-x bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Maize Farming</td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary"><i class="bx bx-x bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Food Processing</td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary"><i class="bx bx-x bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Vegetable Farming</td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary"><i class="bx bx-x bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Rice Farming &amp; Production</td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary"><i class="bx bx-x bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary"><i class="bx bx-x bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                            </tr>
                            <tr>
                              <td>Yarn Farming</td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary"><i class="bx bx-x bx-xs"></i></span>
                              </td>
                              <td>
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary"><i class="bx bx-check bx-xs"></i></span>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <!-- <td>
                                <a href="auth-register-basic.html" class="btn text-nowrap btn-label-primary">Choose Plan</a>
                              </td>
                              <td>
                                <a href="auth-register-basic.html" class="btn text-nowrap btn-primary">Choose Plan</a>
                              </td>
                              <td>
                                <a href="auth-register-basic.html" class="btn text-nowrap btn-label-primary">Choose Plan</a>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Plans Comparison -->
              <!-- FAQS -->
              <!--/ FAQS -->
            </div>

            </div>

          </div>
      </div>
        <!-- Navbar End-->
  </div>
</div>


<div class="col-lg-6 col-md-6">
  <div class="mt-6">
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="backAgroModal" data-bs-backdrop="static" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form class="modal-content" [formGroup]="fxForm">
          <div class="modal-header bg-info">
            <h5 class="modal-title text-white" id="backDropModalTitle">Notice</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class=""> Choose your plan and enter amount you wish to invest</p>

            <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="investmentError">
              Failed! Minimum amount for the investment plan will be {{investAmtError}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>

            <div class="alert alert-success alert-dismissible" role="alert" *ngIf="investmentSuccess">
              Successfully submitted! Your account manager will contact you shortly, thank you
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>

            <div class="row">
              <div class="mb-3 col-md-6">
                <div class="mb-3">
                  <label for="surname" class="form-label">Plan</label>
                  <select class='form-control form-select' name="plan_type" formControlName="plan_type" placeholder="Choose Plan">
                    <option value="">Choose Plan</option>
                    <option value="Starter">Starter</option>
                    <option value="Premier">Premier</option>
                    <option value="Gold">Gold</option>
                   </select>

                  <div *ngIf="fxForm.controls['plan_type'].invalid && (fxForm.controls['plan_type'].dirty || fxForm.controls['plan_type'].touched || fxForm.controls['plan_type'].untouched && isFormSubmit )" class="text-danger">
                    <span *ngIf="fxForm.controls['plan_type'].hasError('required')" class="text-danger"> * Required</span>
                    <!-- <span *ngIf="fxForm.get('plan_type')!.hasError('maxlength')" class="text-danger">
                      The maximum length is 25 characters.
                    </span> -->
                  </div>

                </div>
              </div>
              <div class="mb-3 col-md-6">
                <div class="mb-3">
                  <label for="firstname" class="form-label">Amount</label>
                  <input type="number" class="form-control" name="invest_amt" formControlName="invest_amt" placeholder="Enter Amount">

                  <div *ngIf="fxForm.controls['invest_amt'].invalid && (fxForm.controls['invest_amt'].dirty || fxForm.controls['invest_amt'].touched || fxForm.controls['invest_amt'].untouched && isFormSubmit )" class="text-danger">
                    <span *ngIf="fxForm.controls['invest_amt'].hasError('required')" class="text-danger"> * Required</span>

                  </div>

                </div>
              </div>

              <div class="mb-3 col-md-6">
                <div class="mb-3">
                  <label for="surname" class="form-label">Duration</label>
                  <select class='form-control form-select' name="investment_duration" formControlName="investment_duration" placeholder="Choose Period">
                    <option value="">Choose Period</option>
                    <option Value="Monthly">Monthly</option>
                    <option Value="Quarterly">Quarterly</option>
                    <option Value="Annually">Annually</option>
                   </select>

                  <div *ngIf="fxForm.controls['investment_duration'].invalid && (fxForm.controls['investment_duration'].dirty || fxForm.controls['investment_duration'].touched || fxForm.controls['investment_duration'].untouched && isFormSubmit )" class="text-danger">
                    <span *ngIf="fxForm.controls['investment_duration'].hasError('required')" class="text-danger"> * Required</span>

                  </div>

                </div>
              </div>
              <p class="text-danger"> Please, note that by filling this form and submitting the form, we will debit your account for the amount choosing for your investment plan</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>

            <button type="submit" class="btn btn-primary" (click)="submitFXInvestment()" [disabled]="fxForm.invalid" [disabled]="isFormSubmit">
            <div class="spinner-border spinner-border-sm text-primary" role="status" *ngIf="isButtonClick">
              <span class="visually-hidden">Loading...</span>
            </div>
            &nbsp;
            Submit
          </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
