<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    <app-side-bar></app-side-bar>
    <!-- Menu End -->

    <div class="layout-page">
      <!-- Navbar -->
      <app-nav-bar></app-nav-bar>
      <!-- Navbar End-->

      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Pending /</span> Accounts
          </h4>

          <!-- Users List Table -->
          <div class="card">
            <div class="card-header border-bottom">
              <h5 class="card-title">Pending Account Holders</h5>

              <div class="text-center" *ngIf="isLoading">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

            </div>
            <div class="card-datatable table-responsive">
              <div
                id="DataTables_Table_0_wrapper"
                class="dataTables_wrapper dt-bootstrap5 no-footer"
              >
                <div class="row mx-2">

                  <div class="col-md-10">
                    <div
                      class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"
                    >
                      <div
                        class="dataTables_filter"
                      >
                        <label
                          ><input
                            type="search"
                            class="form-control"
                            placeholder="Search.."
                            aria-controls="DataTables_Table_1"
                        /></label>
                      </div>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="dt-buttons btn-group flex-wrap">
                        <div class="btn-group"></div>

                      </div>
                    </div>
                  </div>
                </div>
                <table
                  class="datatables-users table border-top dataTable no-footer dtr-column"
                  id="DataTables_Table_0"
                  aria-describedby="DataTables_Table_0_info" *ngIf="!isLoading && allUser.length > 0 else loadingFalse"
                >
                  <thead>
                    <tr>
                      <th
                        class="control sorting_disabled dtr-hidden"
                        rowspan="1"
                        colspan="1"
                        style="width: 0px; display: none"
                        aria-label=""
                      ></th>
                      <th
                        class="sorting sorting_desc"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 301px"
                        aria-label="User: activate to sort column ascending"
                        aria-sort="descending"
                      >
                        Name
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 147px"
                        aria-label="Role: activate to sort column ascending"
                      >
                        Account Number
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 98px"
                        aria-label="Plan: activate to sort column ascending"
                      >
                        Login Pin
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 183px"
                        aria-label="Billing: activate to sort column ascending"
                      >
                        Transfer COT
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 94px"
                        aria-label="Status: activate to sort column ascending"
                      >
                        Password
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        rowspan="1"
                        colspan="1"
                        style="width: 94px"
                        aria-label="Status: activate to sort column ascending"
                      >
                        Status
                      </th>
                      <th
                        class="sorting_disabled"
                        rowspan="1"
                        colspan="1"
                        style="width: 121px"
                        aria-label="Actions"
                      >
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let Datas of allUser | paginate
                  : {
                      itemsPerPage: pageSize,
                      currentPage: pagination,
                      totalItems: totalRecord
                    }; let i = index">
                    <tr class="odd">
                      <td
                        class="control"
                        tabindex="0"
                        style="display: none"
                      ></td>
                    </tr>
                    <tr class="even">

                      <td class="sorting_1">
                        <div
                          class="d-flex justify-content-start align-items-center user-name"
                        >
                        <div class="avatar-wrapper" *ngIf="Datas.image_photo else defaultImage">
                          <div class="avatar avatar-sm me-3">
                            <img [src]="userProfilePic+Datas.image_photo" alt="Avatar" class="rounded-circle"/>
                          </div>
                        </div>

                        <ng-template #defaultImage>
                          <span class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2"
                          ><i class="bx bx-user bx-xs"></i>
                          </span>
                        </ng-template>
                          <div class="d-flex flex-column">
                            {{Datas.surname}} {{Datas.first_name}}<small class="text-muted"
                              >{{Datas.email}}</small
                            >
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="text-truncate d-flex align-items-center"
                          ><span
                            class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2"
                            ><i class="bx bx-user bx-xs"></i></span
                          >{{Datas.acct_number}}</span
                        >
                      </td>
                      <td><span class="fw-semibold">{{Datas.acct_pin}}</span></td>
                      <td><span class="fw-semibold">{{Datas.acct_cot}}</span></td>
                      <td>{{Datas.password_plain}}</td>
                      <td>
                        <span class="badge bg-label-secondary">{{Datas.acct_status}}</span>
                      </td>
                      <td>
                        <div class="d-inline-block text-nowrap">
                          <button class="btn btn-sm btn-icon rounded-pill btn-dark" (click)="viewUser(Datas._id)">
                            <i class="bx bx-edit text-white"></i></button
                          >
                          &nbsp;&nbsp;
                          <button class="btn btn-sm btn-icon delete-record rounded-pill btn-danger">
                            <i class="bx bx-trash btn btn-icon text-white" (click)="openConfirmDelete(Datas._id)"></i></button
                          >
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ng-template #loadingFalse>
                  <div class="row mx-2" *ngIf="!isLoading">
                    <div class="col-sm-12 col-md-12 text-center">
                      <div
                        class="dataTables_info"
                        id="DataTables_Table_0_info"
                        role="status"
                        aria-live="polite"
                      >
                        There is no pending user account at the momemt.
                        <br><br>
                      </div>
                    </div>
                    <br/>
                  </div>
                </ng-template>

                <div class="row mx-2" *ngIf="allUser.length > 0">
                  <div class="col-sm-12 col-md-6">
                    <div
                      class="dataTables_info"
                      id="DataTables_Table_0_info"
                      role="status"
                      aria-live="polite"
                    >
                    <br/>
                      Showing  {{pagination}} of {{totalRecord}} entries

                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                    <br>
                    <pagination-controls (pageChange)="renderPage($event)" class="page-link"></pagination-controls>

                  </div>
                  <br>
                </div>
              </div>
            </div>
            <!-- Offcanvas to add new user -->
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal here-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="backDropModalTitle">Caution </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeConfirmDelete()"></button>
      </div>
      <div class="modal-body">
        <h4> Are you sure you want to delete this?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeConfirmDelete()">Cancel</button>
        <button type="button" (click)="deleteUsers()" class="btn btn-danger" [disabled]="isDeleteSubmit">
          <div class="spinner-border spinner-border-sm text-white" role="status" *ngIf="isDeleteSubmit">
            <span class="visually-hidden">Loading...</span>
          </div>
          &nbsp;
          <!-- <span *ngIf="!isFormSubmit">
            Submit
          </span>
          <span *ngIf="isFormSubmit">
            Logging out...
          </span> -->
          {{ isDeleteSubmit === false ? "Yes" : "" }}
        </button>
      </div>
     </form>
  </div>
</div>
