<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
      <app-side-bar></app-side-bar>
     <!-- Menu End -->
     <div class="layout-page">
       <!-- Navbar -->
       <app-nav-bar></app-nav-bar>
       <!-- Navbar End-->
         <div class="content-wrapper">
           <!-- Dash page comes here-->
           <!-- Content -->
           <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Wire Transfer COT Code</span></h4>

            <div class="col-lg-6 mb-4 order-0" style="height: 25px;">
              <div class="progress" style="height: 18px;">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50% completed</div>
              </div>
            </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-4">
                    <h5 class="card-header"><small class="text-muted">Enter your COT Code <span class="text-danger">to complete</span> your funds transfer</small></h5>
                    <!-- Account -->
                    <hr class="my-0">
                    <div class="card-body">
                      <form [formGroup]="fundTransferCOTForm">
                        <!-- <div class="alert alert-danger alert-dismissible" role="alert">
                          This is a danger dismissible alert — check it out!
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                          </button>
                        </div> -->
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">COT Code</label>
                          <input type="password" class="form-control" id="cot_code" name="cot_code" formControlName="cot_code" placeholder="Enter COT Code">
                          <div *ngIf="fundTransferCOTForm.controls['cot_code'].invalid && (fundTransferCOTForm.controls['cot_code'].dirty || fundTransferCOTForm.controls['cot_code'].touched || fundTransferCOTForm.controls['cot_code'].untouched && isFormSubmit )" class="text-danger">
                            <span *ngIf="fundTransferCOTForm.controls['cot_code'].hasError('required')" class="text-danger"> * Required</span>
                            <span *ngIf="fundTransferCOTForm.get('cot_code')!.hasError('maxlength')" class="text-danger">
                              The maximum length is 6 characters.
                            </span>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="wireCOTConfirm()" [disabled]="fundTransferCOTForm.invalid" [disabled]="isFormSubmit">
                          <div class="spinner-border spinner-border-sm text-primary" role="status" *ngIf="isbuttonClick">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                          &nbsp; Confirm COT
                          </button>
                      </form>
                    </div>

                    <!-- /Account -->
                  </div>
                  </div>
                  <div class="col-lg-6 col-md-4 order-1">
                    <div class="row">
                      <div class="col-lg-4 col-md-12 col-6 mb-4">
                      </div>
                      <div class="col-lg-7 col-md-9 col-6 mb-4">
                        <div class="card bg-warning text-white mb-3">
                          <div class="card-body">
                            <div class="card-body">
                              <h5 class="card-title text-dark">Notice</h5>
                              <p class="card-text">
                                Wire fund transfer require your account to be active and possesses the 3F keys to complete the transaction
                               </p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <!-- Total Revenue -->

           </div>
           <!-- Content wrapper -->
         </div>
         <div class="layout-overlay layout-menu-toggle"></div>
     </div>

   </div>


