<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner-register">

    <!-- Register Card -->
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a routerLink="/login" class="app-brand-link gap-4">
            <!--Logo will come here later -->
            <span class="app-brand-text demo text-body fw-bolder">Sneat</span>
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Better banking system starts here 🚀</h4>
        <p class="mb-4">Fill the form to open account with us.</p>

        <form class="mb-3" [formGroup]="registerForm" enctype="multipart/form-data">
          <div class="row">
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="surname" class="form-label">Surname</label>
                <input type="text" class="form-control" name="surname" formControlName="surname" placeholder="Enter Surname">

                <div *ngIf="registerForm.controls['surname'].invalid && (registerForm.controls['surname'].dirty || registerForm.controls['surname'].touched || registerForm.controls['surname'].untouched && isFormSubmit )" class="text-danger">
                  <span *ngIf="registerForm.controls['surname'].hasError('required')" class="text-danger"> * Required</span>
                  <span *ngIf="registerForm.get('surname')!.hasError('maxlength')" class="text-danger">
                    The maximum length is 25 characters.
                  </span>
                </div>

              </div>
            </div>
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" name="fname" formControlName="first_name" placeholder="Enter First Name">

                <div *ngIf="registerForm.controls['first_name'].invalid && (registerForm.controls['first_name'].dirty || registerForm.controls['first_name'].touched || registerForm.controls['first_name'].untouched && isFormSubmit )" class="text-danger">
                  <span *ngIf="registerForm.controls['first_name'].hasError('required')" class="text-danger"> * Required</span>
                  <span *ngIf="registerForm.get('first_name')!.hasError('maxlength')" class="text-danger">
                    The maximum length is 25 characters.
                  </span>
                </div>

              </div>
            </div>

          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="sex" class="form-label">Gender</label>
                <select class='form-control form-select' name="gender" formControlName="gender" placeholder="Enter Surname">
                  <option Maintenance="">Select Gender</option>
                  <option Maintenance="Female">Female</option>
                  <option Maintenance="Male">Male</option>
                 </select>

                 <div *ngIf="registerForm.controls['gender'].invalid && (registerForm.controls['gender'].dirty || registerForm.controls['gender'].touched || registerForm.controls['gender'].untouched && isFormSubmit )" class="text-danger">
                  <span *ngIf="registerForm.controls['gender'].hasError('required')" class="text-danger"> * Required</span>
                </div>
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="dob" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="html5-date-input" name="dob" formControlName="dob" placeholder="Enter First Name">
                <div *ngIf="registerForm.controls['dob'].invalid && (registerForm.controls['dob'].dirty || registerForm.controls['dob'].touched || registerForm.controls['dob'].untouched && isFormSubmit )" class="text-danger">
                  <span *ngIf="registerForm.controls['dob'].hasError('required')" class="text-danger"> * Required</span>

                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" formControlName="email"placeholder="Enter Email">
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phone" formControlName="phone" placeholder="Enter Phone">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" name="state" formControlName="state" placeholder="Enter State">
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" name="city" formControlName="city" placeholder="Enter City">
              </div>
            </div>

          </div>

          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <select class="form-control form-select" name="country" formControlName="country">
             <option Maintenance="">Select Country</option>
             <option Maintenance="Afghanistan" title="Afghanistan">Afghanistan</option>
             <option Maintenance="Åland Islands" title="Åland Islands">Åland Islands</option>
             <option Maintenance="Albania" title="Albania">Albania</option>
             <option Maintenance="Algeria" title="Algeria">Algeria</option>
             <option Maintenance="American Samoa" title="American Samoa">American Samoa</option>
             <option Maintenance="Andorra" title="Andorra">Andorra</option>
             <option Maintenance="Angola" title="Angola">Angola</option>
             <option Maintenance="Anguilla" title="Anguilla">Anguilla</option>
             <option Maintenance="Antarctica" title="Antarctica">Antarctica</option>
             <option Maintenance="Antigua and Barbuda" title="Antigua and Barbuda">Antigua and Barbuda</option>
             <option Maintenance="Argentina" title="Argentina">Argentina</option>
             <option Maintenance="Armenia" title="Armenia">Armenia</option>
             <option Maintenance="Aruba" title="Aruba">Aruba</option>
             <option Maintenance="Australia" title="Australia">Australia</option>
             <option Maintenance="Austria" title="Austria">Austria</option>
             <option Maintenance="Azerbaijan" title="Azerbaijan">Azerbaijan</option>
             <option Maintenance="Bahamas" title="Bahamas">Bahamas</option>
             <option Maintenance="Bahrain" title="Bahrain">Bahrain</option>
             <option Maintenance="Bangladesh" title="Bangladesh">Bangladesh</option>
             <option Maintenance="Barbados" title="Barbados">Barbados</option>
             <option Maintenance="Belarus" title="Belarus">Belarus</option>
             <option Maintenance="Belgium" title="Belgium">Belgium</option>
             <option Maintenance="Belize" title="Belize">Belize</option>
             <option Maintenance="Benin" title="Benin">Benin</option>
             <option Maintenance="Bermuda" title="Bermuda">Bermuda</option>
             <option Maintenance="Bhutan" title="Bhutan">Bhutan</option>
             <option Maintenance="Bolivia, Plurinational State of" title="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
             <option Maintenance="Bonaire, Sint Eustatius and Saba" title="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
             <option Maintenance="Bosnia and Herzegovina" title="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
             <option Maintenance="Botswana" title="Botswana">Botswana</option>
             <option Maintenance="Bouvet Island" title="Bouvet Island">Bouvet Island</option>
             <option Maintenance="Brazil" title="Brazil">Brazil</option>
             <option Maintenance="British Indian Ocean Territory" title="British Indian Ocean Territory">British Indian Ocean Territory</option>
             <option Maintenance="Brunei Darussalam" title="Brunei Darussalam">Brunei Darussalam</option>
             <option Maintenance="Bulgaria" title="Bulgaria">Bulgaria</option>
             <option Maintenance="Burkina Faso" title="Burkina Faso">Burkina Faso</option>
             <option Maintenance="Burundi" title="Burundi">Burundi</option>
             <option Maintenance="Cambodia" title="Cambodia">Cambodia</option>
             <option Maintenance="Cameroon" title="Cameroon">Cameroon</option>
             <option Maintenance="Canada" title="Canada">Canada</option>
             <option Maintenance="Cape Verde" title="Cape Verde">Cape Verde</option>
             <option Maintenance="Cayman Islands" title="Cayman Islands">Cayman Islands</option>
             <option Maintenance="Central African Republic" title="Central African Republic">Central African Republic</option>
             <option Maintenance="Chad" title="Chad">Chad</option>
             <option Maintenance="Chile" title="Chile">Chile</option>
             <option Maintenance="China" title="China">China</option>
             <option Maintenance="Christmas Island" title="Christmas Island">Christmas Island</option>
             <option Maintenance="Cocos (Keeling) Islands" title="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
             <option Maintenance="Colombia" title="Colombia">Colombia</option>
             <option Maintenance="Comoros" title="Comoros">Comoros</option>
             <option Maintenance="Congo" title="Congo">Congo</option>
             <option Maintenance="Congo, the Democratic Republic of the" title="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
             <option Maintenance="Cook Islands" title="Cook Islands">Cook Islands</option>
             <option Maintenance="Costa Rica" title="Costa Rica">Costa Rica</option>
             <option Maintenance="Côte d'Ivoire" title="Côte d'Ivoire">Côte d'Ivoire</option>
             <option Maintenance="Croatia" title="Croatia">Croatia</option>
             <option Maintenance="Cuba" title="Cuba">Cuba</option>
             <option Maintenance="Curaçao" title="Curaçao">Curaçao</option>
             <option Maintenance="Cyprus" title="Cyprus">Cyprus</option>
             <option Maintenance="Czech Republic" title="Czech Republic">Czech Republic</option>
             <option Maintenance="Denmark" title="Denmark">Denmark</option>
             <option Maintenance="Djibouti" title="Djibouti">Djibouti</option>
             <option Maintenance="Dominica" title="Dominica">Dominica</option>
             <option Maintenance="Dominican Republic" title="Dominican Republic">Dominican Republic</option>
             <option Maintenance="Ecuador" title="Ecuador">Ecuador</option>
             <option Maintenance="Egypt" title="Egypt">Egypt</option>
             <option Maintenance="El Salvador" title="El Salvador">El Salvador</option>
             <option Maintenance="Equatorial Guinea" title="Equatorial Guinea">Equatorial Guinea</option>
             <option Maintenance="Eritrea" title="Eritrea">Eritrea</option>
             <option Maintenance="Estonia" title="Estonia">Estonia</option>
             <option Maintenance="Ethiopia" title="Ethiopia">Ethiopia</option>
             <option Maintenance="Falkland Islands (Malvinas)" title="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
             <option Maintenance="Faroe Islands" title="Faroe Islands">Faroe Islands</option>
             <option Maintenance="Fiji" title="Fiji">Fiji</option>
             <option Maintenance="Finland" title="Finland">Finland</option>
             <option Maintenance="France" title="France">France</option>
             <option Maintenance="French Guiana" title="French Guiana">French Guiana</option>
             <option Maintenance="French Polynesia" title="French Polynesia">French Polynesia</option>
             <option Maintenance="French Southern Territories" title="French Southern Territories">French Southern Territories</option>
             <option Maintenance="Gabon" title="Gabon">Gabon</option>
             <option Maintenance="Gambia" title="Gambia">Gambia</option>
             <option Maintenance="Georgia" title="Georgia">Georgia</option>
             <option Maintenance="Germany" title="Germany">Germany</option>
             <option Maintenance="Ghana" title="Ghana">Ghana</option>
             <option Maintenance="Gibraltar" title="Gibraltar">Gibraltar</option>
             <option Maintenance="Greece" title="Greece">Greece</option>
             <option Maintenance="Greenland" title="Greenland">Greenland</option>
             <option Maintenance="Grenada" title="Grenada">Grenada</option>
             <option Maintenance="Guadeloupe" title="Guadeloupe">Guadeloupe</option>
             <option Maintenance="Guam" title="Guam">Guam</option>
             <option Maintenance="Guatemala" title="Guatemala">Guatemala</option>
             <option Maintenance="Guernsey" title="Guernsey">Guernsey</option>
             <option Maintenance="Guinea" title="Guinea">Guinea</option>
             <option Maintenance="Guinea-Bissau" title="Guinea-Bissau">Guinea-Bissau</option>
             <option Maintenance="Guyana" title="Guyana">Guyana</option>
             <option Maintenance="Haiti" title="Haiti">Haiti</option>
             <option Maintenance="Heard Island and McDonald Islands" title="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
             <option Maintenance="Holy See (Vatican City State)" title="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
             <option Maintenance="Honduras" title="Honduras">Honduras</option>
             <option Maintenance="Hong Kong" title="Hong Kong">Hong Kong</option>
             <option Maintenance="Hungary" title="Hungary">Hungary</option>
             <option Maintenance="Iceland" title="Iceland">Iceland</option>
             <option Maintenance="India" title="India">India</option>
             <option Maintenance="Indonesia" title="Indonesia">Indonesia</option>
             <option Maintenance="Iran, Islamic Republic of" title="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
             <option Maintenance="Iraq" title="Iraq">Iraq</option>
             <option Maintenance="Ireland" title="Ireland">Ireland</option>
             <option Maintenance="Isle of Man" title="Isle of Man">Isle of Man</option>
             <option Maintenance="Israel" title="Israel">Israel</option>
             <option Maintenance="Italy" title="Italy">Italy</option>
             <option Maintenance="Jamaica" title="Jamaica">Jamaica</option>
             <option Maintenance="Japan" title="Japan">Japan</option>
             <option Maintenance="Jersey" title="Jersey">Jersey</option>
             <option Maintenance="Jordan" title="Jordan">Jordan</option>
             <option Maintenance="Kazakhstan" title="Kazakhstan">Kazakhstan</option>
             <option Maintenance="Kenya" title="Kenya">Kenya</option>
             <option Maintenance="Kiribati" title="Kiribati">Kiribati</option>
             <option Maintenance="Korea, Democratic People's Republic of" title="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
             <option Maintenance="Korea, Republic of" title="Korea, Republic of">Korea, Republic of</option>
             <option Maintenance="Kuwait" title="Kuwait">Kuwait</option>
             <option Maintenance="Kyrgyzstan" title="Kyrgyzstan">Kyrgyzstan</option>
             <option Maintenance="Lao People's Democratic Republic" title="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
             <option Maintenance="Latvia" title="Latvia">Latvia</option>
             <option Maintenance="Lebanon" title="Lebanon">Lebanon</option>
             <option Maintenance="Lesotho" title="Lesotho">Lesotho</option>
             <option Maintenance="Liberia" title="Liberia">Liberia</option>
             <option Maintenance="Libya" title="Libya">Libya</option>
             <option Maintenance="Liechtenstein" title="Liechtenstein">Liechtenstein</option>
             <option Maintenance="Lithuania" title="Lithuania">Lithuania</option>
             <option Maintenance="Luxembourg" title="Luxembourg">Luxembourg</option>
             <option Maintenance="Macao" title="Macao">Macao</option>
             <option Maintenance="Macedonia, the former Yugoslav Republic of" title="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
             <option Maintenance="Madagascar" title="Madagascar">Madagascar</option>
             <option Maintenance="Malawi" title="Malawi">Malawi</option>
             <option Maintenance="Malaysia" title="Malaysia">Malaysia</option>
             <option Maintenance="Maldives" title="Maldives">Maldives</option>
             <option Maintenance="Mali" title="Mali">Mali</option>
             <option Maintenance="Malta" title="Malta">Malta</option>
             <option Maintenance="Marshall Islands" title="Marshall Islands">Marshall Islands</option>
             <option Maintenance="Martinique" title="Martinique">Martinique</option>
             <option Maintenance="Mauritania" title="Mauritania">Mauritania</option>
             <option Maintenance="Mauritius" title="Mauritius">Mauritius</option>
             <option Maintenance="Mayotte" title="Mayotte">Mayotte</option>
             <option Maintenance="Mexico" title="Mexico">Mexico</option>
             <option Maintenance="Micronesia, Federated States of" title="Micronesia, Federated States of">Micronesia, Federated States of</option>
             <option Maintenance="Moldova, Republic of" title="Moldova, Republic of">Moldova, Republic of</option>
             <option Maintenance="Monaco" title="Monaco">Monaco</option>
             <option Maintenance="Mongolia" title="Mongolia">Mongolia</option>
             <option Maintenance="Montenegro" title="Montenegro">Montenegro</option>
             <option Maintenance="Montserrat" title="Montserrat">Montserrat</option>
             <option Maintenance="Morocco" title="Morocco">Morocco</option>
             <option Maintenance="Mozambique" title="Mozambique">Mozambique</option>
             <option Maintenance="Myanmar" title="Myanmar">Myanmar</option>
             <option Maintenance="Namibia" title="Namibia">Namibia</option>
             <option Maintenance="Nauru" title="Nauru">Nauru</option>
             <option Maintenance="Nepal" title="Nepal">Nepal</option>
             <option Maintenance="Netherlands" title="Netherlands">Netherlands</option>
             <option Maintenance="New Caledonia" title="New Caledonia">New Caledonia</option>
             <option Maintenance="New Zealand" title="New Zealand">New Zealand</option>
             <option Maintenance="Nicaragua" title="Nicaragua">Nicaragua</option>
             <option Maintenance="Niger" title="Niger">Niger</option>
             <option Maintenance="Nigeria" title="Nigeria">Nigeria</option>
             <option Maintenance="Niue" title="Niue">Niue</option>
             <option Maintenance="Norfolk Island" title="Norfolk Island">Norfolk Island</option>
             <option Maintenance="Northern Mariana Islands" title="Northern Mariana Islands">Northern Mariana Islands</option>
             <option Maintenance="Norway" title="Norway">Norway</option>
             <option Maintenance="Oman" title="Oman">Oman</option>
             <option Maintenance="Pakistan" title="Pakistan">Pakistan</option>
             <option Maintenance="Palau" title="Palau">Palau</option>
             <option Maintenance="Palestinian Territory, Occupied" title="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
             <option Maintenance="Panama" title="Panama">Panama</option>
             <option Maintenance="Papua New Guinea" title="Papua New Guinea">Papua New Guinea</option>
             <option Maintenance="Paraguay" title="Paraguay">Paraguay</option>
             <option Maintenance="Peru" title="Peru">Peru</option>
             <option Maintenance="Philippines" title="Philippines">Philippines</option>
             <option Maintenance="Pitcairn" title="Pitcairn">Pitcairn</option>
             <option Maintenance="Poland" title="Poland">Poland</option>
             <option Maintenance="Portugal" title="Portugal">Portugal</option>
             <option Maintenance="Puerto Rico" title="Puerto Rico">Puerto Rico</option>
             <option Maintenance="Qatar" title="Qatar">Qatar</option>
             <option Maintenance="Réunion" title="Réunion">Réunion</option>
             <option Maintenance="Romania" title="Romania">Romania</option>
             <option Maintenance="Russian Federation" title="Russian Federation">Russian Federation</option>
             <option Maintenance="Rwanda" title="Rwanda">Rwanda</option>
             <option Maintenance="Saint Barthélemy" title="Saint Barthélemy">Saint Barthélemy</option>
             <option Maintenance="Saint Helena, Ascension and Tristan da Cunha" title="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
             <option Maintenance="Saint Kitts and Nevis" title="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
             <option Maintenance="Saint Lucia" title="Saint Lucia">Saint Lucia</option>
             <option Maintenance="Saint Martin (French part)" title="Saint Martin (French part)">Saint Martin (French part)</option>
             <option Maintenance="Saint Pierre and Miquelon" title="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
             <option Maintenance="Saint Vincent and the Grenadines" title="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
             <option Maintenance="Samoa" title="Samoa">Samoa</option>
             <option Maintenance="San Marino" title="San Marino">San Marino</option>
             <option Maintenance="Sao Tome and Principe" title="Sao Tome and Principe">Sao Tome and Principe</option>
             <option Maintenance="Saudi Arabia" title="Saudi Arabia">Saudi Arabia</option>
             <option Maintenance="Senegal" title="Senegal">Senegal</option>
             <option Maintenance="Serbia" title="Serbia">Serbia</option>
             <option Maintenance="Seychelles" title="Seychelles">Seychelles</option>
             <option Maintenance="Sierra Leone" title="Sierra Leone">Sierra Leone</option>
             <option Maintenance="Singapore" title="Singapore">Singapore</option>
             <option Maintenance="Sint Maarten (Dutch part)" title="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
             <option Maintenance="Slovakia" title="Slovakia">Slovakia</option>
             <option Maintenance="Slovenia" title="Slovenia">Slovenia</option>
             <option Maintenance="Solomon Islands" title="Solomon Islands">Solomon Islands</option>
             <option Maintenance="Somalia" title="Somalia">Somalia</option>
             <option Maintenance="South Africa" title="South Africa">South Africa</option>
             <option Maintenance="South Georgia and the South Sandwich Islands" title="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
             <option Maintenance="South Sudan" title="South Sudan">South Sudan</option>
             <option Maintenance="Spain" title="Spain">Spain</option>
             <option Maintenance="Sri Lanka" title="Sri Lanka">Sri Lanka</option>
             <option Maintenance="Sudan" title="Sudan">Sudan</option>
             <option Maintenance="Suriname" title="Suriname">Suriname</option>
             <option Maintenance="Svalbard and Jan Mayen" title="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
             <option Maintenance="Swaziland" title="Swaziland">Swaziland</option>
             <option Maintenance="Sweden" title="Sweden">Sweden</option>
             <option Maintenance="Switzerland" title="Switzerland">Switzerland</option>
             <option Maintenance="Syrian Arab Republic" title="Syrian Arab Republic">Syrian Arab Republic</option>
             <option Maintenance="Taiwan, Province of China" title="Taiwan, Province of China">Taiwan, Province of China</option>
             <option Maintenance="Tajikistan" title="Tajikistan">Tajikistan</option>
             <option Maintenance="Tanzania, United Republic of" title="Tanzania, United Republic of">Tanzania, United Republic of</option>
             <option Maintenance="Thailand" title="Thailand">Thailand</option>
             <option Maintenance="Timor-Leste" title="Timor-Leste">Timor-Leste</option>
             <option Maintenance="Togo" title="Togo">Togo</option>
             <option Maintenance="Tokelau" title="Tokelau">Tokelau</option>
             <option Maintenance="Tonga" title="Tonga">Tonga</option>
             <option Maintenance="Trinidad and Tobago" title="Trinidad and Tobago">Trinidad and Tobago</option>
             <option Maintenance="Tunisia" title="Tunisia">Tunisia</option>
             <option Maintenance="Turkey" title="Turkey">Turkey</option>
             <option Maintenance="Turkmenistan" title="Turkmenistan">Turkmenistan</option>
             <option Maintenance="Turks and Caicos Islands" title="Turks and Caicos Islands">Turks and Caicos Islands</option>
             <option Maintenance="Tuvalu" title="Tuvalu">Tuvalu</option>
             <option Maintenance="Uganda" title="Uganda">Uganda</option>
             <option Maintenance="Ukraine" title="Ukraine">Ukraine</option>
             <option Maintenance="United Arab Emirates" title="United Arab Emirates">United Arab Emirates</option>
             <option Maintenance="United Kingdom" title="United Kingdom">United Kingdom</option>
             <option Maintenance="United States" title="United States">United States</option>
             <option Maintenance="United States Minor Outlying Islands" title="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
             <option Maintenance="Uruguay" title="Uruguay">Uruguay</option>
             <option Maintenance="Uzbekistan" title="Uzbekistan">Uzbekistan</option>
             <option Maintenance="Vanuatu" title="Vanuatu">Vanuatu</option>
             <option Maintenance="Venezuela, Bolivarian Republic of" title="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
             <option Maintenance="Viet Nam" title="Viet Nam">Viet Nam</option>
             <option Maintenance="Virgin Islands, British" title="Virgin Islands, British">Virgin Islands, British</option>
             <option Maintenance="Virgin Islands, U.S." title="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
             <option Maintenance="Wallis and Futuna" title="Wallis and Futuna">Wallis and Futuna</option>
             <option Maintenance="Western Sahara" title="Western Sahara">Western Sahara</option>
             <option Maintenance="Yemen" title="Yemen">Yemen</option>
             <option Maintenance="Zambia" title="Zambia">Zambia</option>
             <option Maintenance="Zimbabwe" title="Zimbabwe">Zimbabwe</option>
             </select>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="state" class="form-label">Account Type</label>
                <select class='form-control form-select' name="acct_type" formControlName="acct_type">
                  <option Maintenance="">Select Account Type</option>
                  <option Maintenance="Saving Account">Savings Account</option>
                  <option Maintenance="Checking Account">Checking Account</option>
                  <option Maintenance="Fixed Deposit">Fixed Deposit</option>

                </select>
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="city" class="form-label">Currency Type</label>
                <!-- <select id="defaultSelect" class="form-select">
                  <option>Default select</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select> -->
                <select class='form-select' name="currency_type" formControlName="currency_type">
                  <option Maintenance="">Select Currency Type</option>
                  <option Maintenance="€">€</option>
                  <option Maintenance="£">£</option>
                  <option Maintenance="$">$</option>

                </select>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" formControlName="username" placeholder="Enter Username">

                <div *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched || registerForm.controls['username'].untouched && isFormSubmit )" class="text-danger">
                  <span *ngIf="registerForm.controls['username'].hasError('required')" class="text-danger"> * Required</span>
                  <span *ngIf="registerForm.get('username')!.hasError('maxlength')" class="text-danger">
                    The maximum length is 30 characters.
                  </span>
                </div>

              </div>
            </div>
            <div class="mb-3 col-md-6">
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter Password">

                <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched || registerForm.controls['password'].untouched && isFormSubmit )" class="text-danger">
                  <span *ngIf="registerForm.controls['password'].hasError('required')" class="text-danger"> * Required</span>
                  <span *ngIf="registerForm.get('password')!.hasError('minlength')" class="text-danger">
                    The minimum length is 5 characters.
                  </span>
                </div>

              </div>
            </div>

          </div>

          <div class="mb-3">
            <label for="photo" class="form-label">Photo</label>
            <input class="form-control" type="file" id="image_photo" formControlName="image_photo" placeholder="Choose Photo"
            (change)="onFileSelected($event)">
            <!-- <input type="text" class="form-control" name="country" > -->
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea class='form-control' name="address" id='id_comments' formControlName="address" placeholder='Address' rows='3'></textarea>

            <div *ngIf="registerForm.controls['address'].invalid && (registerForm.controls['address'].dirty || registerForm.controls['address'].touched || registerForm.controls['address'].untouched && isFormSubmit )" class="text-danger">
              <span *ngIf="registerForm.controls['address'].hasError('required')" class="text-danger"> * Required</span>
              <span *ngIf="registerForm.get('address')!.hasError('maxlength')" class="text-danger">
                The maximum length is 150 characters.
              </span>
            </div>

          </div>

          <!-- <div class="mb-3 form-password-toggle">
            <label class="form-label" for="password">Password</label>
            <div class="input-group input-group-merge">
              <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
          </div> -->

          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
              <label class="form-check-label" for="terms-conditions">
                I agree to
                <a href="javascript:void(0);">privacy policy & terms</a>
              </label>
            </div>
          </div>
          <button class="btn btn-primary d-grid w-100" type="submit" (click)="userRegister()" [disabled]="registerForm.invalid">
            Sign up
          </button>
        </form>

        <p class="text-center">
          <span>Already have an account?</span>
          <a routerLink="/login">
            <span> Sign in instead</span>
          </a>
        </p>
      </div>
    </div>
    <!-- Register Card -->
  </div>
</div>
