<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
      <app-side-bar></app-side-bar>
     <!-- Menu End -->
     <div class="layout-page">
       <!-- Navbar -->
       <app-nav-bar></app-nav-bar>
       <!-- Navbar End-->
         <div class="content-wrapper">
           <!-- Dash page comes here-->
           <!-- Content -->
           <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Domestic Transfer</span></h4>

              <div class="row">
                <div class="col-md-8">

                  <div class="card mb-4">
                    <h5 class="card-header">Domestic funds transfer <small class="text-muted float-end">Enter the information below correctly to <span class="text-danger">initial</span> your funds transfer</small></h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <div class="button-wrapper">
                        </div>
                      </div>
                    </div>
                    <hr class="my-0">
                    <div class="card-body">
                      <form [formGroup]="domesticFundTransferForm">
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Customer Bank Name</label>
                          <input type="text" class="form-control" id="bank_name" name="bank_name" formControlName="bank_name" placeholder="Bank Name">
                          <div *ngIf="domesticFundTransferForm.controls['bank_name'].invalid && (domesticFundTransferForm.controls['bank_name'].dirty || domesticFundTransferForm.controls['bank_name'].touched || domesticFundTransferForm.controls['bank_name'].untouched && isFormSubmit )" class="text-danger">
                            <span *ngIf="domesticFundTransferForm.controls['bank_name'].hasError('required')" class="text-danger"> * Required</span>
                            <span *ngIf="domesticFundTransferForm.get('bank_name')!.hasError('maxlength')" class="text-danger">
                              The maximum length is 100 characters.
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-company">Account Name/ Holder</label>
                              <input type="text" class="form-control" id="holder_name" name="holder_name" formControlName="holder_name" placeholder="Account Holder Name">
                              <div *ngIf="domesticFundTransferForm.controls['holder_name'].invalid && (domesticFundTransferForm.controls['holder_name'].dirty || domesticFundTransferForm.controls['holder_name'].touched || domesticFundTransferForm.controls['holder_name'].untouched && isFormSubmit )" class="text-danger">
                                <span *ngIf="domesticFundTransferForm.controls['holder_name'].hasError('required')" class="text-danger"> * Required</span>
                                <span *ngIf="domesticFundTransferForm.get('holder_name')!.hasError('maxlength')" class="text-danger">
                                  The maximum length is 100 characters.
                                </span>
                              </div>
                            </div>
                            </div>

                            <div class="mb-3 col-md-6">
                              <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Account Number</label>
                                <input type="text" class="form-control" id="acct_number" name="acct_number" formControlName="acct_number" placeholder="Account Number">
                                <div *ngIf="domesticFundTransferForm.controls['acct_number'].invalid && (domesticFundTransferForm.controls['acct_number'].dirty || domesticFundTransferForm.controls['acct_number'].touched || domesticFundTransferForm.controls['acct_number'].untouched && isFormSubmit )" class="text-danger">
                                  <span *ngIf="domesticFundTransferForm.controls['acct_number'].hasError('required')" class="text-danger"> * Required</span>
                                  <span *ngIf="domesticFundTransferForm.get('acct_number')!.hasError('maxlength')" class="text-danger">
                                    The maximum length is 10 characters.
                                  </span>
                                </div>
                              </div>
                              </div>
                         </div>

                         <div class="row">
                          <div class="mb-3 col-md-6">
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-company">Bank swift code/ Routing Number</label>
                              <input type="text" class="form-control" id="swift_code" name="swift_code" formControlName="swift_code" placeholder="Swift Code">
                              <div *ngIf="domesticFundTransferForm.controls['swift_code'].invalid && (domesticFundTransferForm.controls['swift_code'].dirty || domesticFundTransferForm.controls['swift_code'].touched || domesticFundTransferForm.controls['swift_code'].untouched && isFormSubmit )" class="text-danger">
                                <span *ngIf="domesticFundTransferForm.controls['swift_code'].hasError('required')" class="text-danger"> * Required</span>
                                <span *ngIf="domesticFundTransferForm.get('swift_code')!.hasError('maxlength')" class="text-danger">
                                  The maximum length is 6 characters.
                                </span>
                              </div>
                            </div>
                            </div>

                            <div class="mb-3 col-md-6">
                              <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Amount</label>
                                <input type="text" class="form-control" id="send_amt" name="send_amt" formControlName="send_amt" placeholder="ACME Inc.">
                                <div *ngIf="domesticFundTransferForm.controls['send_amt'].invalid && (domesticFundTransferForm.controls['send_amt'].dirty || domesticFundTransferForm.controls['send_amt'].touched || domesticFundTransferForm.controls['send_amt'].untouched && isFormSubmit )" class="text-danger">
                                  <span *ngIf="domesticFundTransferForm.controls['send_amt'].hasError('required')" class="text-danger"> * Required</span>

                                </div>
                              </div>
                              </div>
                          </div>

                          <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea class='form-control' id='id_comments' name="address" formControlName="address" placeholder='Address' rows='3' required></textarea>
                            <div *ngIf="domesticFundTransferForm.controls['address'].invalid && (domesticFundTransferForm.controls['address'].dirty || domesticFundTransferForm.controls['address'].touched || domesticFundTransferForm.controls['address'].untouched && isFormSubmit )" class="text-danger">
                              <span *ngIf="domesticFundTransferForm.controls['address'].hasError('required')" class="text-danger"> * Required</span>
                              <span *ngIf="domesticFundTransferForm.get('address')!.hasError('maxlength')" class="text-danger">
                                The maximum length is 350 characters.
                              </span>
                            </div>
                          </div>
                        <button type="submit" class="btn btn-primary" (click)="domesticTransferFund()">Transfer</button>
                      </form>

                    </div>
                    <!-- /Account -->
                  </div>
                  </div>
                  <div class="col-lg-4 col-md-4 order-1">
                    <div class="row">
                      <div class="col-lg-4 col-md-12 col-6 mb-4">
                      </div>
                      <div class="col-lg-7 col-md-9 col-6 mb-4">
                        <div class="card bg-warning text-white mb-3">
                          <div class="card-body">
                            <div class="card-body">
                              <h5 class="card-title text-dark">Notice</h5>
                              <p class="card-text">
                                Domestic fund transfer require your account to be active and possesses the 3F keys to complete the transaction
                              </p>
                              <!-- <a href="javascript:;" class="btn btn-sm btn-outline-success">Apply Now</a> -->
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <!-- Total Revenue -->

           </div>
           <!-- Content wrapper -->
         </div>
         <div class="layout-overlay layout-menu-toggle"></div>
     </div>

   </div>


