<li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    <i class="bx bx-bell bx-sm"></i>
    <span class="badge bg-danger rounded-pill badge-notifications">5</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end py-0">
    <li class="dropdown-menu-header border-bottom">
      <div class="dropdown-header d-flex align-items-center py-3">
        <h5 class="text-body mb-0 me-auto">Notification</h5>
        <a href="javascript:void(0)" class="dropdown-notifications-all text-body" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Notification" data-bs-original-title="All Notification"><i class="bx fs-4 bx-envelope-open"></i></a>
      </div>
    </li>
    <li class="dropdown-notifications-list scrollable-container ps">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action dropdown-notifications-item">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar">
                <img src="../../assets/img/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle">
              </div>
            </div>
            <div class="flex-grow-1">
              <h6 class="mb-1">Congratulation Lettie 🎉</h6>
              <p class="mb-0">Won the monthly best seller gold badge</p>
              <small class="text-muted">1h ago</small>
            </div>
            <div class="flex-shrink-0 dropdown-notifications-actions">
              <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
              <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
            </div>
          </div>
        </li>

        <li class="list-group-item list-group-item-action dropdown-notifications-item">
          <div class="d-flex">
            <div class="flex-shrink-0 me-3">
              <div class="avatar">
                <img src="../../assets/img/avatars/6.png" alt="" class="w-px-40 h-auto rounded-circle">
              </div>
            </div>
            <div class="flex-grow-1">
              <h6 class="mb-1">New message from Jane</h6>
              <p class="mb-0">Your have new message from Jane</p>
              <small class="text-muted">5 days ago</small>
            </div>
            <div class="flex-shrink-0 dropdown-notifications-actions">
              <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
              <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
            </div>
          </div>
        </li>

      </ul>

    </li>
    <li class="dropdown-menu-footer border-top">
      <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center p-3">
        View all notifications
      </a>
    </li>
  </ul>
</li>
