<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
      <app-side-bar></app-side-bar>
     <!-- Menu End -->
     <div class="layout-page">
       <!-- Navbar -->
       <app-nav-bar></app-nav-bar>
       <!-- Navbar End-->
         <div class="content-wrapper">
           <!-- Dash page comes here-->
           <!-- Content -->
           <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">
              <span class="text-muted fw-light"> Account Profile</span>
            </h4>

            <div class="row">
              <div class="col-md-8">
                <!-- <ul class="nav nav-pills flex-column flex-md-row mb-3">
                  <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> My Account</a></li>
                  </ul> -->
                <div class="card mb-4">
                  <h5 class="card-header">Profile Details</h5>
                  <!-- Account -->
                  <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                      <div *ngIf="myId?.image_photo=='' || myId?.image_photo== null; else myProfileImage ">
                        <img [src]="defaultImageProfile" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                      </div>

                      <div class="button-wrapper">
                        <!-- <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                          <span class="d-none d-sm-block">Upload new photo</span>
                          <i class="bx bx-upload d-block d-sm-none"></i>
                          <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                        </label> -->
                        <ng-template #myProfileImage>
                          <div>
                            <img [src]="userProfilePic" height="100" width="100" class="d-block rounded">
                          </div>

                        </ng-template>
                        <a href="/dashboard/support">
                          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Contact Support</span>
                          </button>
                        </a>

                        <!-- <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p> -->
                        <p class="text-muted mb-0">Account Status: <strong>Active</strong></p>
                      </div>
                    </div>
                  </div>
                  <hr class="my-0">
                  <div class="card-body">
                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                      <div class="row">
                        <div class="mb-3 col-md-6">
                          <label for="firstName" class="form-label">Surname</label>
                          <input class="form-control" type="text" id="firstName" name="firstName" value="{{myData.surname}}" placeholder="Surname" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="lastName" class="form-label">Other Name</label>
                          <input class="form-control" type="text" name="lastName" id="lastName" value="{{myData.first_name}}" placeholder="Other Name" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="email" class="form-label">Sex</label>
                          <input class="form-control" type="text" id="sex" name="sex" value="{{myData.sex}}" placeholder="Gender" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="organization" class="form-label">Email</label>
                          <input type="text" class="form-control" id="email" name="email" value="{{myData.email}}" placeholder="Email" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label class="form-label" for="phoneNumber">Phone Number</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text">US (+1)</span>
                            <input type="text" id="phoneNumber" name="phoneNumber" value="{{myData.phone}}" class="form-control" placeholder="Phone Number" />
                          </div>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="address" class="form-label">Account Number</label>
                          <input type="text" class="form-control" id="acct_number" name="acct_number" value="{{myData.acct_number}}" placeholder="Address" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="state" class="form-label">State</label>
                          <input class="form-control" type="text" id="state" name="state" value="{{myData.state}}" placeholder="State" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="zipCode" class="form-label">City</label>
                          <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{myData.city}}" placeholder="City"/>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label class="form-label" for="country">Country</label>
                          <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{myData.country}}" placeholder="Country" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="language" class="form-label">Account Type</label>
                          <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{myData.acct_type}}" placeholder="Account Type" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="timeZones" class="form-label">Currency Type</label>
                          <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{myData.currency_type}}" placeholder="Currency Type" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="currency" class="form-label">Username</label>
                          <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{myData.username}}" placeholder="Username" />
                        </div>
                        <div class="mb-3 col-md-6">
                          <label for="currency" class="form-label">Address</label>
                          <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{myData.address}}" placeholder="Address" />
                        </div>
                      </div>
                      <!-- <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                      </div> -->
                    </form>
                  </div>
                  <!-- /Account -->
                </div>
                <div class="card">
                  <h5 class="card-header">Block Account</h5>
                  <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                      <div class="alert alert-warning">
                        <h6 class="alert-heading fw-bold mb-1">Are you sure you want to block your account?</h6>
                        <p class="mb-0">Once you block your account, you will not be able to carry out any transaction in your account anymore.</p>
                      </div>
                    </div>
                    <form id="" onsubmit="return false">
                      <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                        <label class="form-check-label" for="accountActivation">I confirm my account blocking</label>
                      </div>
                      <button type="submit" class="btn btn-danger deactivate-account" data-bs-toggle="modal" data-bs-target="#backDropModal3">Block Account</button>
                    </form>
                  </div>
                </div>



              </div>

              <div class="col-lg-4 col-md-4 order-1">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-6 mb-4">
                  </div>
                  <div class="col-lg-7 col-md-9 col-6 mb-4">
                    <div class="card bg-secondary text-white mb-3">
                      <div class="card-body">
                        <div class="card-body">
                          <h5 class="card-title text-success">Protect your account</h5>
                          <p class="card-text">
                            Your Online Banking user ID and password, <span class="text-warning"> COT Code and PIN </span>  are confidential and should never be disclosed to anyone.
                          </p>
                          <a href="/dashboard/support" class="btn btn-sm btn-warning">Contact</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- Total Revenue -->
           </div>
           <!-- Content wrapper -->
         </div>
         <div class="layout-overlay layout-menu-toggle"></div>
     </div>

   </div>

   <!--Inter banking modal popup here-->
<div class="col-lg-4 col-md-3">
  <div class="mt-3">
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="backDropModal3" data-bs-backdrop="static" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" [formGroup]="blockAccountForm">
          <div class="modal-header bg-danger">
            <h5 class="modal-title text-white" id="backDropModalTitle">Caution</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <p> Are you sure you want to block your account ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary" (click)="blockMyAccount()" [disabled]="isbuttonClick">
              <div class="spinner-border spinner-border-sm text-primary" role="status" *ngIf="isbuttonClick">
                <span class="visually-hidden">Loading...</span>
              </div>
              &nbsp;  Yes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


