<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
      <app-side-bar></app-side-bar>
     <!-- Menu End -->
     <div class="layout-page">
       <!-- Navbar -->
       <app-nav-bar></app-nav-bar>
       <!-- Navbar End-->
         <div class="content-wrapper">
           <!-- Dash page comes here-->
           <!-- Content -->
           <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Account Profile</span></h4>

            <div class="row">
              <div class="col-lg-7 mb-4 order-0">
                <div class="card h-100">
                  <div class="card-header d-flex align-items-center justify-content-between pb-0">
                    <div class="card-title mb-0">
                      <h5 class="m-0 me-2">Account Profile Details</h5>
                      <!-- <small class="text-muted">42.82k Total Sales</small> -->
                     </div>

                  </div>
                  <div class="card-body">
                    <hr>
                    <div class="d-flex justify-content-between align-items-center mb-3" style="position: relative;">
                      <div class="d-flex flex-column align-items-center gap-1">
                        <h6 class="mb-0">ACCOUNT STATUS:</h6>
                        <span>Active</span>
                      </div>
                      <div id="orderStatisticsChart" style="min-height: 154.583px;">
                        <div id="apexchartsn39t7qef" class="apexcharts-canvas apexchartsn39t7qef apexcharts-theme-light" style="width: 130px; height: 154.583px;">
                        <img src="../../../assets/img/avatars/1.png" alt class="w-px-150 h-auto rounded-circle">
                      </div>
                  </div>

                  </div>
                    <ul class="p-0 m-0">
                      <li class="d-flex mb-4 pb-1">
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">Account Full Name</h6>
                            <small class="text-muted">Mobile, Earbuds, TV</small>
                          </div>
                          <div class="user-progress">
                            <!-- <small class="fw-semibold">82.5k</small> -->
                          </div>
                        </div>
                      </li>
                      <li class="d-flex mb-4 pb-1">
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">Sex</h6>
                            <small class="text-muted">T-shirt, Jeans, Shoes</small>
                          </div>

                        </div>
                      </li>


                      <li class="d-flex mb-4 pb-1">

                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">Date of Birth</h6>
                            <small class="text-muted">Fine Art, Dining</small>
                          </div>

                        </div>
                      </li>

                      <li class="d-flex mb-4 pb-1">
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">Account Type</h6>
                            <small class="text-muted">T-shirt, Jeans, Shoes</small>
                          </div>
                          <div class="user-progress">

                          </div>
                        </div>
                      </li>

                      <li class="d-flex mb-4 pb-1">
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">Account Number</h6>
                            <small class="text-muted">T-shirt, Jeans, Shoes</small>
                          </div>
                          <div class="user-progress">

                          </div>
                        </div>
                      </li>


                      <li class="d-flex mb-4 pb-1">

                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">Account Username</h6>
                            <small class="text-muted">Football, Cricket Kit</small>
                          </div>

                        </div>
                      </li>
                      <li class="d-flex mb-4 pb-1">

                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">Country</h6>
                            <small class="text-muted">Football, Cricket Kit</small>
                          </div>

                        </div>
                      </li>
                      <li class="d-flex mb-4 pb-1">

                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div class="me-2">
                            <h6 class="mb-0">Holder Address</h6>
                            <small class="text-muted">Football, Cricket Kit</small>
                          </div>

                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-5 col-md-4 order-1">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-6 mb-4">
                  </div>
                  <div class="col-lg-7 col-md-9 col-6 mb-4">
                    <div class="card bg-secondary text-white mb-3">
                      <div class="card-body">
                        <div class="card-body">
                          <h5 class="card-title text-success">Protect your account</h5>
                          <p class="card-text">
                            Your Online Banking user ID and password, <span class="text-warning"> COT Code and PIN </span>  are confidential and should never be disclosed to anyone.
                          </p>
                          <a href="javascript:;" class="btn btn-sm btn-warning">Contact</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <br/><br/>
              <!-- Total Revenue -->
              </div>
            </div>
            <!-- Total Revenue -->

           </div>
           <!-- Content wrapper -->
         </div>
         <div class="layout-overlay layout-menu-toggle"></div>
     </div>

   </div>


