<ul class="menu-inner py-1">
  <!-- Dashboard -->
  <li class="menu-item active">
    <a href="/admin/dashboard" class="menu-link">
      <i class="menu-icon tf-icons bx bx-home-circle"></i>
      <div data-i18n="Analytics">Dashboard</div>
    </a>
  </li>

  <!-- Layouts -->
  <li class="menu-item">
    <a href="/admin/all-users" class="menu-link">
      <i class="bx bx-user me-2 fs-5"></i>
      <div data-i18n="Layouts">&nbsp; Account Holder</div>
    </a>
  </li>
  <li class="menu-item">
    <a href ="/admin/pending-account" class="menu-link">
      <i class="bx bx-user me-2 fs-5"></i>
      <div data-i18n="Without menu">Pending Account</div>
    </a>
  </li>
  <li class="menu-item">
    <a href ="/admin/all-transactions" class="menu-link">
      <i class="bx bx-detail me-1 fs-5"></i>
      <div data-i18n="Without navbar">Transaction</div>
    </a>
  </li>

  <li class="menu-item">
    <a href="/admin/credit-account" class="menu-link">
      <i class="bx bx-credit-card me-2 fs-5"></i>
      <div data-i18n="Without navbar">Credit Account</div>
    </a>
  </li>
  <li class="menu-item">
    <a href="/admin/debit-account" class="menu-link">
      <i class="bx bx-credit-card me-2 fs-5"></i>
      <div data-i18n="Basic">Debit Account</div>
    </a>
  </li>

  <li class="menu-item ">
    <a href="/admin/user-investment" class="menu-link">
      <i class="fa fa-dot-circle fs-5"></i>
      &nbsp;<div data-i18n="Basic">Investment</div>
    </a>
  </li>

  <li class="menu-item">
    <a href="/admin/admin-users" class="menu-link">
      <i class='far fa-user-circle fs-5'></i>
      &nbsp;&nbsp;<div data-i18n="Basic">Admin Users</div>
    </a>
  </li>

  <li class="menu-item">
    <a href="/admin/users-logs" class="menu-link">
      <i class='menu-icon tf-icons bx bx-copy fs-5'></i>
      <div data-i18n="Basic">System Log</div>
    </a>
  </li>

  <li class="menu-item">
    <a href="/admin/system-logs" class="menu-link">
      <i class='menu-icon tf-icons bx bx-copy fs-5'></i>
      &nbsp;<div data-i18n="Basic">System Activities</div>
    </a>
  </li>

  <li class="menu-header small text-uppercase"><span class="menu-header-text">Action</span></li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="fa fa-power-off "></i>
      <div data-i18n="Authentications" >&nbsp; Authentications</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <!-- <button (click)="openModal('smallModal')" class="btn btn-primary btn-xs" type="button">Add
          Student</button> -->

        <a (click)="openAdminLogoutPopup()" class="menu-link" style="cursor: pointer;">
          <div data-i18n="Basic">Logout</div>
        </a>
      </li>

    </ul>
  </li>

  <br><br>
</ul>

<!--Modal for logout here-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="backDropModalTitle">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeAdminLogoutPopup()"></button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to logout?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="closeAdminLogoutPopup()">Cancel</button>
        <button type="button" (click)="logoutMeOut()" class="btn btn-danger" [disabled]="isFormSubmit">
          <div class="spinner-border spinner-border-sm text-white" role="status" *ngIf="isFormSubmit">
            <span class="visually-hidden">Loading...</span>
          </div>
          &nbsp;
          <!-- <span *ngIf="!isFormSubmit">
            Submit
          </span>
          <span *ngIf="isFormSubmit">
            Logging out...
          </span> -->
          {{ isFormSubmit === false ? "Logout" : "Logging out..." }}
        </button>
      </div>
     </form>
  </div>
</div>
