<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner py-4">
    <!-- Forgot Password -->
    <div class="card">
      <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
          <a routerLink="/" class="app-brand-link gap-2">

        <!-- <span class="app-brand-text demo text-body fw-bolder">Sneat</span> -->
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Forgot Password? 🔒</h4>
        <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
        <form class="mb-3" [formGroup]="forgetForm">
          <div class="mb-3">
            <label for="email" class="form-label">Email/Username</label>
            <input type="text" class="form-control" id="forget_details" name="forget_details" formControlName="forget_details" placeholder="Enter your email/ Username" autofocus required>
            <div *ngIf="forgetForm.controls['forget_details'].invalid && (forgetForm.controls['forget_details'].dirty || forgetForm.controls['forget_details'].touched || forgetForm.controls['forget_details'].untouched && isFormSubmit )" class="text-danger">
              <span *ngIf="forgetForm.controls['forget_details'].hasError('required')" class="text-danger"> * Required</span>
            </div>
          </div>
          <button class="btn btn-primary d-grid w-100" (click)="verifyDetails()" [disabled]="isFormSubmit">Send Reset Link</button>
        </form>
        <div class="text-center">
          <a routerLink="/login" class="d-flex align-items-center justify-content-center">
            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
            Back to login
          </a>
        </div>
      </div>
    </div>
    <!-- /Forgot Password -->
  </div>
</div>

<div class="col-lg-6 col-md-6">
  <div class="mt-6">

    <!-- Modal -->
    <div class="modal fade" id="resetPassModal" data-bs-backdrop="static" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form class="modal-content" [formGroup]="fxForm">
          <div class="modal-header bg-info">
            <h5 class="modal-title text-white" id="backDropModalTitle">Reset your login details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-danger"> Be sure before you do this.</p>

            <div class="alert bg-success alert-dismissible text-white" role="alert" *ngIf="verifySuccess">
              Updated! Your account login details has been reset successfully, you can now login.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>

            <div class="row">
              <div class="mb-3 col-md-6">
                <div class="mb-3">
                  <label for="surname" class="form-label">New Password</label>
                  <input type="password" class="form-control" name="new_password" formControlName="new_password" placeholder="Enter New Password">
                  <div *ngIf="fxForm.controls['new_password'].invalid && (fxForm.controls['new_password'].dirty || fxForm.controls['new_password'].touched || fxForm.controls['new_password'].untouched && isFormSubmit )" class="text-danger">
                    <span *ngIf="fxForm.controls['new_password'].hasError('required')" class="text-danger"> * Required</span>
                    <span *ngIf="fxForm.get('new_password')!.hasError('minlength')" class="text-danger">
                      The maximum length is 5 characters.
                    </span>
                  </div>

                </div>
              </div>
              <div class="mb-3 col-md-6">
                <div class="mb-3">
                  <label for="firstname" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" name="confirm_password" formControlName="confirm_password" placeholder="Enter Confirm Password">

                  <div *ngIf="fxForm.controls['confirm_password'].invalid && (fxForm.controls['confirm_password'].dirty || fxForm.controls['confirm_password'].touched || fxForm.controls['confirm_password'].untouched && isFormSubmit )" class="text-danger">
                    <span *ngIf="fxForm.controls['confirm_password'].hasError('required')" class="text-danger"> * Required</span>
                    <span *ngIf="fxForm.get('confirm_password')!.hasError('minlength')" class="text-danger">
                      The maximum length is 5 characters.
                    </span>
                  </div>
                </div>
              </div>

              <!-- <p class="text-danger"> Please, note that by filling this form and submitting the form, we will debit your account for the amount choosing for your investment plan</p> -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>

            <button type="submit" class="btn btn-primary" (click)="resetPassword()" [disabled]="fxForm.invalid" [disabled]="isFormSubmit || isButtonClick">
            <div class="spinner-border spinner-border-sm text-primary" role="status" *ngIf="isButtonClick">
              <span class="visually-hidden">Loading...</span>
            </div>
            &nbsp;
            Reset
          </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
