<body>
  <div class="layout-wrapper layout-content-navbar">

    <div class="layout-container">
      <div class="layout-page">

           <div class="content-wrapper">

             <div class="container-xxl flex-grow-1 container-p-y">
  <!-- Content -->
  <div class="row">
    <div class="col-lg-12 mb-4 order-0">
      <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
          <h2 class="mb-2 mx-2">Page Not Found :(</h2>
          <p class="mb-4 mx-2">Oops! 😖 The requested URL was not found on this server.</p>
          <div class="mt-3">
            <img src="../assets/img/illustrations/page-misc-error-light.png" alt="page-misc-error-light" width="500" class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png" data-app-light-img="illustrations/page-misc-error-light.png">
          </div>
        </div>
      </div>
  </div>
  </div>
<!-- Error -->

<!-- /Error -->

<!-- / Content -->

</div>
</div>
</div>
</div>
</div>




</body>
