<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
      <app-side-bar></app-side-bar>
     <!-- Menu End -->
     <div class="layout-page">
       <!-- Navbar -->
       <app-nav-bar></app-nav-bar>
       <!-- Navbar End-->
         <div class="content-wrapper">
           <!-- Dash page comes here-->
           <!-- Content -->
           <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Setting</span></h4>

              <div class="row">
                <div class="col-md-8">

                  <div class="card mb-4">
                    <h5 class="card-header">Reset Login Details </h5>
                    <!-- Account -->
                    <div class="card-header d-flex justify-content-between">
                      <p><small class="text-muted">For security issues, we highly recommend you update your login details time to time to secure your account.</small></p>
                     </div>

                    <hr class="my-0">
                    <div class="card-body">
                      <form>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <div class="mb-3">
                              <label class="form-label" for="basic-default-company">New Password</label>
                              <input type="password" class="form-control" id="basic-default-company" placeholder="New Password">
                            </div>
                            </div>

                            <div class="mb-3 col-md-6">
                              <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Confirm Password</label>
                                <input type="password" class="form-control" id="basic-default-company" placeholder="Confirm Password">
                              </div>
                              </div>
                         </div>


                        <button type="submit" class="btn btn-primary">Update</button>
                      </form>

                    </div>
                    <!-- /Account -->
                  </div>
                  </div>
                  <div class="col-lg-4 col-md-4 order-1">
                    <div class="row">
                      <div class="col-lg-4 col-md-12 col-6 mb-4">
                      </div>
                      <div class="col-lg-7 col-md-9 col-6 mb-4">
                        <div class="card bg-warning text-white mb-3">
                          <div class="card-body">
                            <div class="card-body">
                              <h5 class="card-title text-dark">Notice</h5>
                              <p class="card-text">
                                For security reasons, we recommend that you change the login details of your account on a regular basis.
                              </p>
                              <!-- <a href="javascript:;" class="btn btn-sm btn-outline-success">Apply Now</a> -->
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <!-- Total Revenue -->

           </div>
           <!-- Content wrapper -->
         </div>
         <div class="layout-overlay layout-menu-toggle"></div>
     </div>

   </div>


