<div class="layout-wrapper layout-content-navbar">

  <div class="layout-container">
    <!-- Menu -->
      <app-side-bar></app-side-bar>
     <!-- Menu End -->

     <div class="layout-page">

       <!-- Navbar -->
       <app-nav-bar></app-nav-bar>
       <!-- Navbar End-->

         <div class="content-wrapper">

           <!-- Dash page comes here-->
           <!-- Content -->

           <div class="container-xxl flex-grow-1 container-p-y">

            <br/>
            <div class="row">
              <div class="col-lg-6 mb-4 order-0">
                <div class="card">
                  <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                      <div class="card-body">
                        <h5 class="card-title">Hello John, 🎉</h5>
                        <h5 class="card-title text-info"><p class="mb-4"> Send money across world in <span class="fw-bold">real time</span><br>
                        </p></h5>
                        Sending International Business Payments or Sending Money To Family Overseas? We Are Your Fast And Simple Solution.
                      </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                      <div class="card-body pb-0 px-0 px-md-4">
                        <img src="../assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.html">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-4 order-1">
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <!-- <img src="../assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded"> -->
                            <img src="../assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
                          </div>

                        </div>
                        <span class="fw-semibold d-block mb-1">Credit Balance</span>
                        <h3 class="card-title mb-2">$12,628</h3>
                        <small class="text-success fw-semibold"><i class='bx bx-up-arrow-alt'></i> +72.80%</small>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img src="../assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
                          </div>

                        </div>
                        <span>Available Balance</span>
                        <h3 class="card-title text-nowrap mb-1">$4,679</h3>
                        <small class="text-success fw-semibold"><i class='bx bx-up-arrow-alt'></i> +28.42%</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <br/><br/>
              <!-- Total Revenue -->
              <div class="col-12 col-lg-7 order-2 order-md-3 order-lg-2 mb-4">
                <br/><br/>
                <div class="card">
                  <div class="row row-bordered g-0">
                    <div class="col-md-8">
                      <h5 class="card-header m-0 me-2 pb-3">Record Statistic</h5>
                      <div id="totalRevenueChart" class="px-2"></div>
                    </div>
                    <div class="col-md-4">
                      <div class="card-body">
                        <div class="text-center">
                          <div class="dropdown">
                            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              2023
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                              <a class="dropdown-item" href="javascript:void(0);">2022</a>
                              <a class="dropdown-item" href="javascript:void(0);">2021</a>
                              <a class="dropdown-item" href="javascript:void(0);">2020</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="growthChart"></div>

                      <div class="text-center fw-semibold pt-3 mb-2">25% Company Profit Margin</div>

                      <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                        <div class="d-flex">
                          <div class="me-2">
                            <span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
                          </div>
                          <div class="d-flex flex-column">
                            <small>2022</small>
                            <h6 class="mb-0">$32.5B</h6>
                          </div>
                        </div>
                        <div class="d-flex">
                          <div class="me-2">
                            <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                          </div>
                          <div class="d-flex flex-column">
                            <small>2021</small>
                            <h6 class="mb-0">$25.2M</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Total Revenue -->

              <div class="col-12 col-md-8 col-lg-5 order-3 order-md-2">
                <br/><br/>
                <div class="row">
                   <div class="col-12 mb-4">
                    <div class="card bg-secondary text-white mb-3">
                      <div class="card-body">
                        <div class="card-body">
                          <h5 class="card-title text-success">Get Card. Get Rewarded</h5>
                          <p class="card-text">
                            Get set up and start spending with your card in minutes. The reliable, cheap & fastest way to send money worldwide.
                          </p>
                          <a href="javascript:;" class="btn btn-sm btn-outline-success">Apply Now</a>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- </div>
                <div class="row"> -->

                </div>
              </div>

            </div>

            <br/><br/>
             <div class="row">
               <!-- Order Statistics -->

               <!--/ Order Statistics -->

               <!-- Expense Overview -->

               <!--/ Expense Overview -->

               <!-- Transactions -->
               <div class="col-12 mb-4">
                <div class="card">
                  <h5 class="card-header">Recent Transactions</h5>
                  <div class="table-responsive text-nowrap">
                    <table class="table">
                      <thead>
                        <tr class="text-nowrap">
                          <th>#</th>
                          <th>Status</th>
                          <th>Amount</th>
                          <th>Description</th>
                          <th>Nature</th>
                          <th>Date</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Table cell</td>
                          <td>Table cell</td>
                          <td>Table cell</td>
                          <td>Table cell</td>
                          <td>Table cell</td>
                         </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Table cell</td>
                          <td>Table cell</td>
                          <td>Table cell</td>
                          <td>Table cell</td>
                          <td>Table cell</td>
                           </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
               </div>

               <!--/ Transactions -->
             </div>

        <!-- / Content -->
       <!-- Footer -->
              <br/>
             <app-footer></app-footer>
      <!-- / Footer -->

             <div class="content-backdrop fade"></div>
           </div>
           <!-- Content wrapper -->
         </div>

         <div class="layout-overlay layout-menu-toggle"></div>

     </div>

   </div>

</div>







